<md-table-container ng-style="employeeStructureController.listStyle" style="background: rgb(238, 239, 241);overflow: unset;margin-top:-25px;>
<md-card class="directive-margin margin-0 padding-0 background-trans">
 <md-card-content layout="row" layout-align="center center" style="text-align: center">
  <div ng-repeat="employee in SiloController.urgstructuredetails" ng-include="'categoryTree'"  on-finish-render="ngRepeatFinished"></div>
 </md-card-content>
</md-card>
</md-table-container>

<script type="text/ng-template" id="categoryTree">
<div id="paavanSilo" style="float: left;">
    <span ng-init="CEOSiloLength = employee.reportees.length; ShowSilo[SiloLevel][$index] = false"><div ng-class="{'SiloHead': ((employee.reportees && employee.reportees.length == 1) || (employee.reportees && employee.reportees.length > 1)), 'LeafNode':!employee.reportees}" ng-include="'SiloHead'"></div></span>
    <span ng-show="ShowSilo[SiloLevel][$index]" ng-init="SiloLevel = 1"><div ng-include="'SiloMembers'"></div></span>
</div>
</script>

 <script type="text/ng-template" id="SiloHead">
<div layout="column" class="sile-head-pane" flex style="width: 100%;">
    <div layout="row" class="line-span">
        <span flex="50" class="line-a">&nbsp;</span>
        <span flex="50" class="line-b">&nbsp;</span>
    </div>
    <div> 
        <div class="employee-structure-pane {{employeeStructureController.isNotOrgStruct ? employee.dapStatus : 'inprogress' }}" layout="column">
            <div id="SiloHeadScroll{{SiloLevel}}" class="employee-structure-block" layout="row" layout-align="start stretch">
                <div class="employee-structure-img" layout="row" layout-align="center center">
                    <img ng-src="Assets/user-icon-white.svg" />
                </div>
                <div class="employee-structure-details" flex layout="column" layout-align="strat start">
                    <span flex class="name ellipsis" ng-bind="::employee.employeeName" title="{{::employee.employeeName}}"><md-tooltip md-direction="top">{{::employee.employeeName}}</md-tooltip></span>
                    <span flex class="designation ellipsis" ng-bind="::employee.designation" title="{{::employee.designation}}"></span>
                   
                    <span ng-if="SiloLevel != 1 " style="width: 100%" layout="row" layout-align="end center"><md-button ng-click="SiloController.EmpDetails(employee.employeeID)" style="margin: 0;line-height: 10px;min-height: 24px; padding: 0; font-size: 10px !important;background-color:white !important ;color:black !important" class="md-raised">View Details</md-button></span>
                    
                </div>
            </div>
            <div>
             <span ng-if="SilosLength > 0 && SiloLevel != 1" ng-click="ShowSilo[SiloLevel][$index] ? ShowSilo[SiloLevel][$index] = false : ShowSilo[SiloLevel][$index] = true" style="cursor:pointer"><img ng-if="!ShowSilo[SiloLevel][$index]" ng-src="Assets/plus-org-str-icon.svg" width="20"/> <img ng-if="ShowSilo[SiloLevel][$index]" ng-src="Assets/minus-org-str-icon.svg" width="20"/> </span>
             <span ng-if="SiloLevel == 1" ng-click="ShowSilo[SiloLevel][$index] ? ShowSilo[SiloLevel][$index] = false : ShowSilo[SiloLevel][$index] = true" style="cursor:pointer"><img ng-if="!ShowSilo[SiloLevel][$index]" ng-src="Assets/plus-org-str-icon.svg" width="20"/> <img ng-if="ShowSilo[SiloLevel][$index]" ng-src="Assets/minus-org-str-icon.svg" width="20"/> </span>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="SiloMembers">
<div ng-init="SiloLength = employee.reportees.length; ShowSilo[SiloLevel][$index] = true" layout="row" layout-align="center start">
    <div ng-init="SilosLength = employee.reportees.length; ShowSilo[SiloLevel][$index] = false" id="paavanSiols" layout="row" layout-align="start start" ng-repeat="employee in employee.reportees">
        <div flex layout="column" layout-align="center center" id="JaykumarSilo">
            <span ng-class="{'ReporteeFirstNode': ($first && SiloLength > 1), 'ReporteeLastNode': ($last && SiloLength > 1), 'MidNode': (!first && !$last && SiloLength > 1) }" style="width: 100%;">
             <div ng-class="{'SiloHead': ((employee.reportees && employee.reportees.length == 1) || (employee.reportees && employee.reportees.length > 1)), 'LeafNode':!employee.reportees}" ng-include="'SiloHead'" layout="column" layout-align="center center"></div>
            </span>
            <span layout="column" ng-init="SiloLevel = (SiloLevel+1)" ng-show="ShowSilo[SiloLevel][$index]">
             <div ng-include="'SiloMembers'"></div>
            </span>
        </div>
    </div>
</div>
</script>
<style>
.employee-structure-pane {
 width: 250px;
  display: inline-block;
   vertical-align: top;
    margin: 0px 15px; 
    }
    
.employee-structure-pane.inprogress > .employee-structure-block { 
background-color: #99b230;
border: 3px solid white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
.employee-structure-pane.completed > .employee-structure-block {
 background-color: #99b230; 
 }
.employee-structure-pane.pending > .employee-structure-block {
 background-color: #ad3d3d; 
 }

.employee-structure-pane > .employee-structure-block {
 padding: 3px; 
 }
.employee-structure-pane > .employee-structure-block > .employee-structure-img > img {
 width: 70px;
  height: 70px;
   margin: 0 5px;
    }
.employee-structure-pane > .employee-structure-block > .employee-structure-details { 
margin-top: 8px; 
}
.employee-structure-pane > .employee-structure-block > .employee-structure-details > .name {
 font-weight: bold;
  font-size: 14px;
   color: white;
    width: 160px;
     white-space: nowrap;
      text-align: left;
       overflow: hidden;
text-overflow: ellipsis;
       }
.employee-structure-pane > .employee-structure-block > .employee-structure-details > .designation {
 font-size: 12px;
  color: white;
   width: 160px;
    white-space: nowrap;
     text-align: left;
    
      }
.ReporteeFirstNode > .LeafNode > .sile-head-pane > .line-span > .line-b {
 border-top: 1px solid;
  border-left: 1px solid;
   } 
.ReporteeFirstNode.MidNode > .SiloHead > .sile-head-pane > .line-span > .line-a {
 border-top: 0 !important; 
 }

.ReporteeFirstNode > .SiloHead > .sile-head-pane > .line-span > .line-b {
 border-top: 1px solid; 
 border-left: 1px solid; 
 }
.ReporteeLastNode > .SiloHead > .sile-head-pane > .line-span > .line-a { 
border-top: 1px solid; 
border-right: 1px solid; 
}
.ReporteeLastNode > .LeafNode > .sile-head-pane > .line-span > .line-a {
 border-top: 1px solid; 
 border-right: 1px solid;
  }
.MidNode:not(.ReporteeFirstNode) > .SiloHead > .sile-head-pane > .line-span > .line-a {
 border-top: 1px solid; 
 border-right: 1px solid; 
 }
.MidNode:not(.ReporteeFirstNode) > .SiloHead > .sile-head-pane > .line-span > .line-b {
 border-top: 1px solid;
  border-left: 1px solid; 
  }

.MidNode:not(.ReporteeFirstNode) > .LeafNode > .sile-head-pane > .line-span > .line-a { 
border-top: 1px solid;
 border-right: 1px solid; 
 }
.MidNode:not(.ReporteeFirstNode) > .LeafNode > .sile-head-pane > .line-span > .line-b { 
border-top: 1px solid;
 border-left: 1px solid; 
 }
.line-a {
 border-right: 1px solid; 
 }
.line-b {
 border-left: 1px solid; 
 }
 .background-trans {
    background-color: transparent !important;
    box-shadow: none;}
    md-card md-card-content{
    padding:0;
    }
  .margin-0{
    margin:0px;
    }
   
    
</style>