.md-select-placeholder > span:FIRST-CHILD {
	color: rgb(203, 203, 203) !important;
}
* {	
	font-family: segoe ui;
}
.md-datepicker-input {
	font-size: 16px !important;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
	padding: 23px !important; 
	height: auto !important;
    width: auto !important;
}
.md-select-value {
	border-width: 1px !important;
    border-style: solid !important;
	border-radius: 5px !important;
	border-color: #ddd;
	min-height: 35px !important;
}
md-select:not([disabled]).ng-invalid.ng-touched .md-select-value {
	border-width: 1px;
	border-radius: 5px !important;
	border-style: solid;
}
md-select.md-default-theme.ng-invalid.ng-touched .md-select-value, md-select.ng-invalid.ng-touched .md-select-value {
	border-color: rgb(221,44,0) !important;
}
md-input-container .md-input{
	border-width: 1px !important;
	border-radius: 5px !important;
}
input[type='number'] {
    -moz-appearance:textfield !important;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}


.btn-group button {
    background-color: #EEEFF1; /* Green background */
    border: 1px solid #95AF28; /* Green border */
    color: #69696A; /* White text */
    padding: 1px 15px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    min-width: 120px;
    max-width: 120px;
    font-family: segoe ui !important;
    font-size: 16px;
}
.btn-group{
	border: 2px solid #95Af28;
	border-radius: 6px;
}
button, select, html, textarea, input{
	 font-family: segoe ui !important;
    font-size: 16px;
}

.md-datepicker-expand-triangle{
	display: none;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
    background-image: url(../Assets/calendar.png);
    background-repeat: no-repeat;
    background-position: 5px;
}
md-radio-group.layout-row md-radio-button{
	margin-right: 10px !important;
}
md-radio-button .md-on{
	background-color: #95AF28 !important;
}
md-radio-button.md-checked .md-off{
	border-color: #95AF28 !important;
}
.merilytics-calender{
	width: 100%;
	text-align: center;
	background: #19172F;
	color: white;
  /*  border-collapse: collapse; */
	border-spacing: 0 4px;
	cursor: pointer;	
}
.merilytics-calender thead{
	border-bottom: 1px solid #95af28;
}

.selected-week{
	/* border: 4px solid #95AF28; */
	background: #9ca4ab
}

.unselected-week{
	border: 3px solid #19172F;
}

.merilytics-calender tr{
	height: 30px;
	
}
.merilytics-calender tr td{
	min-width: 30px;
	max-width: 30px;
}
.merilytics-today{
	border:1px solid white;
	border-radius:10px;
	background: #474559 !important
}
.merilytics-holiday{
	background: #E26161 !important;
}
.merilytics-leave-day-first, .merilytics-holiday-day-first {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
}
.merilytics-leave-day-last, .merilytics-holiday-day-last {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;	
}
.merilytics-leave-one-day, .merilytics-holiday-one-day {
	border-radius: 10px;
}
.merilytics-leave{
	background: #95AF28 !important
}
.merilytics-holiday-leave-start{
	background: #E26161 !important
}
.merilytics-left-radius{
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;	
}
.merilytics-right-radius{
	border-top-left-radius: 10px !important;
	border-bottom-left-radius: 10px !important;	
}
.merilytics-title{
	font-family: segoe ui !important;
	font-size: 20px !important;
	font-weight: bold;
}
.selected-module{
	background: #95AF28 !important;
	color: #FFFFFF !important;
	cursor: pointer;
}
.unselected-module{
	background: #EEEFF1;
	color: #69696A;
	cursor: pointer;
}
.selected-view{
	background: #95Af28;
	padding-left: 8px;
	padding-right: 8px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: white;
	font-family: segoe ui !important;
	font-size: 16px !important;
	font-weight: bold;
}
/* .dashboard-menu:HOVER{
	background: #95Af28;	
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
	color: white;
	font-family: segoe ui !important;
	font-size: 16px !important;
	font-weight: bold;
}
.dashboard-menu1:HOVER{
	background: #95Af28 !important;height: 42px;
	border-top-left-radius: 10px !important;
	border-top-right-radius: 10px !important;
} */
.selected-view1{
	background: #95Af28 !important;height: 42px;
}
.unselected-view{
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	font-family: segoe ui !important;
	font-size: 16px !important;
	font-weight: bold;
}
.sub-scrren{
	background: #ddd;
	margin: 4px;
	border-radius: 5px;
}
.floating-box {
    float: left;
    width: 267px;
    border-radius:10px !important;
    font-size: 16px;  
    display: inline-block;
    vertical-align: top; 
}
.leave-floating-box {
	min-width: 195px;
	margin: 10px;
	min-width: 245px;
}

table.md-table thead.md-head > tr.md-row{
	height: 35px !important;
}
md-table-container thead{
	background: #95AF28 !important;
}	
table.md-table {
	border-radius: 10px !important;
	border-collapse: collapse !important;
}

table.md-table th.md-column{
	color: #FFFFFF !important;
	font-size: 16px !important;	
	font-family: segoe ui !important;
	font-weight:  400 !important
}
table.md-table tbody.md-body > tr.md-row, table.md-table tfoot.md-foot > tr.md-row{
	height: 40px !important;
}
 .emp-details-table tbody>tr:HOVER {
	color: #95Af28 !important;
	cursor: pointer;
	font-style: italic;	
}
.emp-details-table tbody > tr {
	border-left: 8px solid white !important;
}
.emp-details-table tbody>tr:HOVER{
	border-left: 8px solid #95AF28 !important;
}

.merilytics-content-title {
	font-size: 16px !important;
	font-weight: bold !important;
	font-family: segoe ui !important;
}

.merilytics-content {
	font-size: 16px !important;
	font-family: segoe ui !important;
}

.merilytics-leave-type-input{
	width: 45px !important;
	height: 16px !important;
	border: 1px solid #95Af28 !important;
	margin: 6px !important;
	border-radius: 5px !important;
	padding: 3px !important;
	text-align: right;
	margin-top: 9px !important;
	padding-top: 1px !important;
}
.meritus-btn{
	background-color: #95AF28 ;
	color: white !important;
	padding: 8px !important;
	font-family: segoe ui !important;
	cursor: pointer !important;;
	border-radius: 10px !important;
	font-size: 16px !important;
}

md-input-container{
	margin: 0 !important
}
md-input-container .md-errors-spacer{
	min-height: 0 !important;
}
md-input-container .md-input{
	height: 35px !important;
	float:none !important;
}
input,md-select {
	border-radius: 8px !important;
}
md-select.md-table-select > .md-select-value{
	min-height: 33px !Important;
	min-width: 80px !important;
}
.merilytics-cursor{
	cursor: pointer !important;
}
.md-table-pagination md-select{
	min-width: 50px !important;
}

.md-table-pagination{
	font-size: 16px !important;
	font-family: segoe ui !important;
	color:black !important;
}
.empdetails-content{
	padding: 10px;
	margin-bottom: 10px;
}
.apply-leave-buttons{
	min-height: 50px;
	max-height: 50px;
	min-width: 300px;
	max-width: 300px;
	font-size: 20px !important;
}
.merilytics-style{
	background:#95AF28;
	color: white; 
}
.merilytics-circle{
	line-height: 80px;
	width: 80px;
	background: white;
	text-align: center !important;
	border-radius: 50%;
	font-size: 25px;
	font-weight: bold;
}
.merilytics-circle1{
	line-height: 80px;
	width: 80px;
	background: black;
	color:white;
	text-align: center !important;
	border-radius: 50%;
	font-size: 25px;
	font-weight: bold;
}

.sticky-paginator{
	position: sticky;
	bottom: 0;
	background:white;
}

md-datepicker-input-container{
	width: 200px !important;
}
.md-button.md-raised{
	background-color: #95AF28 !important;
	color: white !important;
} 
.md-button.md-raised[disabled]{
	background: rgba(0,0,0,0.12) !important; 
}
.md-button{
	text-transform: none !important;
	font-size: 16px !important;
	font-family: segoe ui !important;
}
 @media only screen and (max-width: 1400px) and (min-width:1280px) {
  .firstinout {
    flex-direction:column
  }
  .marginbottommedia{
  margin-bottom:5px;
  margin-right: 0px !important;
  text-align:right;
  }
 
} 