<md-dialog flex="80" flex-md="60" flex-xs="100" flex-sm="100" aria-label="confirmation" md-theme="meritus">
   <md-toolbar style="background: rgb(153,178,48); color: white">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <h2 flex md-truncate>LMS Tutorial</h2>
        <img title="Close" style="cursor: pointer;" ng-src="Assets/cross-icon.svg" ng-click="manualScreenController.closeDialog()">
      </div>
    </md-toolbar>
 <md-dialog-content>
 <video flex="100" style="width: 100%" ng-src="Partials/LMSTutorial.mp4" controls autoplay></video> 
 </md-dialog-content>    
</md-dialog>

