<div flex layout="column" flex style="background: #EEEFF1;">
<div style="padding-left: 0px;padding: 0px;background: white;border-radius: 10px ;position: relative;">
					<div class="layout-row " style="background: #EEEFF1">
						<div class="layout-row merilytics-content merilytics-cursor" >
								<div ng-click="AdminHomeController.changeTab('team')" class="layout-row layout-align-center-center" ng-class="selectedTransaction == 'team' ? 'emp-selected-tab':'emp-unselected-tab'">
									<span><img ng-src="Assets\team-icon.svg" style="height: 40px;padding-left: 25px;"></span>
									<span style="padding: 16px">Team</span>
								</div>
								<div class="layout-row layout-align-center-center" ng-click="AdminHomeController.changeTab('History')" ng-class="selectedTransaction == 'History' ? 'emp-selected-tab':'emp-unselected-tab'">
									<span><img ng-src="Assets\me-icon.svg" style="height: 25px; padding-left: 25px;"></span>
									<span style="padding: 16px">History</span>
								</div>
						</div>
						<div class="layout-row flex layout-align-end-center">
							<form name="FilterForm">
							<div>								
							<md-input-container md-no-float style="border: 1px solid #95AF28 !important;border-radius: 6px !important; background: white;">
								<input placeholder="Search Here" style="display:inline; border:none !important;box-shadow:none; padding-left: 8px;text-shadow: 1px 1px rgb(216, 216, 216);"
								 type="text" ng-model="AdminHomeController.searchValue" name="search" ng-keyup = "onSearch(AdminHomeController.searchValue)">
								<md-icon class="material-icons" style="color:#95AF28; font-size:21px">search</md-icon>
							</md-input-container>
							</div>
							</form>
						</div>
					</div>
					
					<div class="layout-column" flex style="postion:relative;">
						
						<div ng-show="selectedTransaction == 'History' ">
						
						 <div style="border-top: 2px solid #ddd;padding: 8px;position:relative" class="layout-row" ng-repeat="md in AdminHomeController.teamDetailsHistory" ng-class= "{ 'border-bottom' : ($index+1) == AdminHomeController.teamDetailsHistory.length }">
						  <div class="ribbon" ng-show="md.isApproveSLT == 1">
							<span ng-if="!md.isProbationPeriod">
								<img  ng-src="Assets/leavepolicy1-blue-LMS.svg" style="height: 27px;">
								<md-tooltip>To be approved by SMT</md-tooltip>
							</span>
							<span ng-if="md.isProbationPeriod">
								<img ng-src="Assets/leavepolicy1-redLMS.svg" style="height: 27px;">
								<md-tooltip>To be approved by SMT and Employee on probation</md-tooltip>
							</span>
						  </div>
						  <div class="ribbon" ng-show="md.isApproveSLT == 0 && md.isProbationPeriod">
							<span>
								<img ng-src="Assets/leavepolicy1-redLMS.svg" style="height: 27px;">
								<md-tooltip>Employee on probation</md-tooltip>
							</span>
						  </div>
							<div  style="width: 90px" class="layout-row layout-align-center-start">
								<span style="background:#19172F;color: white;border-radius: 50%;font-size: 16px;font-weight: bold;min-width: 60px;line-height: 60px;text-align: center;">{{md.shortName}}</span>
							</div>
							<div  layout="column" flex='65'>
								<div class="merilytics-content" > 
								<div>
								 <div ng-show="!md.showConvert"><span class="Labels" ng-click="AdminHomeController.individualDetails(md)" style="cursor:pointer" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.employeeName}}</span> {{md.message}}  <span><span ng-show="(md.conversionTypeId == 7 || md.conversionTypeId == 8 || md.conversionTypeId == 9)">conversion of </span></span><span class="Labels" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.leaveType}}</span> <span ng-show="(md.conversionTypeId == 7 || md.conversionTypeId == 8 || md.conversionTypeId == 9)"> to <span class="Labels" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.conversionType}}</span></span> </div> 
								 <div ng-show="md.showConvert" ><span> System has generated an <span class="Labels" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.leaveType}}</span> leave for <span class="Labels" style="cursor:pointer" ng-click="AdminHomeController.individualDetails(md)" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.employeeName}}</span> </span></div>
								 <!-- <span ng-if="md.leaveType == 'WFH'"> approval to <span class="Labels">Work From Home</span></span>
								 <span ng-if="md.leaveType == 'compOff'"> a <span class="Labels">Compensatory Off Credit</span></span>
								 <span ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff' && md.isAutomated == 0 "> for a <span class="Labels">Leave ({{md.leaveType}})</span></span>
								 <span ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff' && md.isAutomated == 1 "> for a leave <span class="Labels">Unpaid to {{md.Conversion}}</span></span> -->
							    </div>
							  <div>
							     <div ><span ng-show="!md.showConvert">Requested on</span><span ng-show="md.showConvert">Generated on</span>&nbsp; <span style="color:#383085;font-weight:bold">{{md.createdDate | date}}</span> </div> 
								<div>Dates: <!-- <span ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">from</span>
									<span ng-show="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">on</span> -->
								<b style="color: #383085">{{md.leaveStartDate | date}}</b>
								<span ng-if="md.sessionOfStartDate != 1">
									<b style="color: #383085">({{md.sessionOfStartDay}})</b>
								</span>
								<span ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)"> to </span>
								<span style="color: #383085;font-weight:bold" ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">{{md.leaveEndDate | date}}</span>
								<span ng-if="md.sessionOfEndDate != 1" ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">
									<b style="color: #383085">({{md.sessionOfEndDay}})</b>
								</span>
								<span ng-if="md.noOfDays > 1">
									<b style="color: #383085">&nbsp;({{md.noOfDays}} working days)</b>
								</span>
								<span ng-if="md.noOfDays == 1">
									<b style="color: #383085">&nbsp;({{md.noOfDays}} working day)</b>
								</span>
								<span ng-if="md.noOfDays == 0.5">
									<b style="color: #383085">&nbsp;(half day)</b>
								</span>
							</div>
							</div>
							<div layout="column" style="margin-top:5px">
							    <div>Reasons:&nbsp;&nbsp;</div>
								<div  ng-if="md.leaveType == 'WFH'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y:auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>
								<div  ng-if="md.leaveType == 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y:auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>
								<div  ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y:auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg" style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>										
							</div>
							
							<div layout="column" ng-if="md.leaveStatus == 3" style="margin-top:5px">
							    <div>Reason for Rejection:&nbsp;&nbsp;</div>
								<div style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForRejectionORRevoke}}</span></div>								
							</div>
							<div layout="column" ng-show="(md.conversionTypeId == 7 || md.conversionTypeId == 8 || md.conversionTypeId == 9 || md.biometricIssueReasonForRejectionOrRevoke != null)" style="margin-top:5px">
							    <div>Reason for Conversion:&nbsp;&nbsp;</div>
								<div style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForRejectionORRevoke}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForRejectionORRevoke}}</span></div>
								<!-- <div ng-if="md.leaveType == 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;overflow: hidden;" flex title="{{md.reasonForRejectionORRevoke}}">{{md.reasonForRejectionORRevoke}}</div>
								<div ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;overflow: hidden;" flex title="{{md.reasonForRejectionORRevoke}}">{{md.reasonForRejectionORRevoke}}</div> -->
							</div>
							<div layout="column" ng-if="md.biometricIssueReasonForRejectionOrRevoke != null" style="margin-top:5px">
							    <div>Reason for Rejection:&nbsp;&nbsp;</div>
								<div style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.biometricIssueReasonForRejectionOrRevoke}}</span></div>								
							</div>
							
							
							
																
								</div>
							</div>
						
							<div class="layout-column layout-align-xs-center-center layout-align-gt-xs-space-between-end  flex-gt-xs-35">
							
							<div class="layout-row firstinout"  >
						
								<div ng-show="md.isAutomated==1" style="margin-right:10px" class="marginbottommedia"><div style="color:#383085;float:left">First In:</div>&nbsp;&nbsp;<div style="background-color:rgb(235,235,235);border-radius: 3px;padding-left:3px;float:right">{{md.logInTime}}&nbsp;&nbsp;<i class="material-icons" style="font-size: 17px;position: relative;top: 2px">access_time</i></div></div>
								<div ng-show="md.isAutomated==1"><div style="color:#383085;float:left">Last Out:</div>&nbsp;&nbsp;<div style="background-color:rgb(235,235,235);border-radius: 3px;padding-left:3px;float:right">{{md.logOutTime}}&nbsp;&nbsp;<i class="material-icons" style="font-size: 17px;position: relative;top: 2px">access_time</i></div></div>
						
							</div>
							<div layout= "column" style = "padding-bottom:0">
								<div class="layout-row layout-align-end-center" >
								
								
									<div ng-show="md.isAutomated ==0 && md.leaveStatus==1 && md.revokeHide" style="border: 2px solid red;border-radius: 50%;margin: 5px" class="merilytics-cursor">
										<img layout-padding ng-src="Assets/cancel-icon.svg" height="25px" ng-click="AdminHomeController.RejectLeave(md)"> <md-tooltip>Reject</md-tooltip>
									</div>
									<div ng-show="md.isAutomated ==0 && md.leaveStatus==2" style="border: 2px solid #95AF28;border-radius: 50%;margin: 5px" class="merilytics-cursor">
										<img layout-padding ng-src="Assets/Check-icon.svg"  height="25px" ng-click="AdminHomeController.ApproveLeave($event,md)"><md-tooltip>Approve</md-tooltip>
									</div>
									<div ng-show="md.isAutomated ==1 && md.leaveStatus==7" class="merilytics-cursor" ng-click="AdminHomeController.UnPaidToPaidReject(md)">
										<img ng-src="Assets\convert-wrong.svg" style="height: 50px"><md-tooltip>Revoke Unpaid to Paid</md-tooltip>
									</div>
								
								
									<span class="meritus-btn layout-row layout-align-center-center" ng-show="md.isAutomated ==0 && md.leaveStatus==1" style= "cursor: auto !important; width: 115px;">
										<span><img ng-src="Assets\Check-icon-white.svg" style="height: 20px"></span>
										<span>&nbsp;Approved</span>
									</span>
									<span class="meritus-btn layout-row layout-align-center-center" style="background: #FC655c; cursor: auto !important; width: 115px;" ng-show="md.isAutomated ==0 && md.leaveStatus==3">
										<span><img ng-src="Assets\cancel-icon-white.svg" style="height: 16px"></span>
										<span>&nbsp;Rejected</span>
									</span>
									<span class="meritus-btn layout-row layout-align-center-center" style="background: #FC655c; cursor: auto !important; width: 115px;" ng-show="(md.isAutomated ==1 && md.leaveStatus==3) || (md.biometricIssueReasonForRejectionOrRevoke != null)">
										<span><img ng-src="Assets\cancel-icon-white.svg" style="height: 16px"></span>
										<span>&nbsp;Rejected</span>
									</span>
									<span class="meritus-btn layout-row layout-align-center-center" style="background: #FC655c; cursor: auto !important; width: 115px;" ng-show="md.isAutomated ==0 && md.leaveStatus==4">
										<span><img ng-src="Assets\cancel-icon-white.svg" style="height: 16px"></span>
										<span>&nbsp;Revoked</span>
									</span>
									<div ng-show="md.isAutomated ==1 && md.leaveStatus==7" class="merilytics-cursor" ng-click=" 	AdminHomeController.UnPaidToPaidApprove($event,md)">
										<img ng-src="Assets\convert-right.svg" style="height: 50px"><md-tooltip>Approve Unpaid to Paid</md-tooltip>
									</div>
									<span class="meritus-btn layout-row layout-align-center-center" ng-show="md.isAutomated ==1 && md.leaveStatus==1 && md.biometricIssueReasonForRejectionOrRevoke == null"" style= "cursor: auto !important; width: 115px;">
										<span><img ng-src="Assets\Check-icon-white.svg" style="height: 20px"></span>
										<span>&nbsp;Approved</span>
									</span>
								</div>
								<div >
								<div ng-show="md.leaveStatus==1 && !md.showConvert && md.biometricIssueReasonForRejectionOrRevoke == null" style = "font-size: 14px; margin-top: 4px;white-space: nowrap;"><span style = "color: #95af28">Approved by&nbsp;&nbsp;</span><span style = "text-decoration: underline">{{md.appOrRejBy}}</span></div>
								<div ng-if="md.leaveStatus == 3 ||  md.biometricIssueReasonForRejectionOrRevoke != null" style = "font-size: 14px; margin-top: 4px;white-space: nowrap"><span style = "color: #95af28">Rejected by:&nbsp;&nbsp;</span><span style = "text-decoration: underline">{{md.appOrRejBy}}</span></div>
								
							</div>	
							</div>
							</div>
							</div>
							<!-- </div> -->
							<div class="layout-row layout-align-center-center merilytics-content-title" ng-show="AdminHomeController.teamDetailsHistory == 0 ? true: false" >
								<span>No data to display</span>
							</div>
							<!-- <md-table-pagination md-limit="query.limit" md-limit-options="[10,20,40,60]" md-page="query.page" md-total="{{query.total}}"
		             md-page-select="1" md-boundary-links="options.boundaryLinks" style= "text-align: center;"></md-table-pagination> -->
		             <div layout= "row" layout-align = "end-center" style = "margin-top: 20px" class="sticky-paginator-admin" >
		             	<span>Go to page: </span>
		             	<span style = "margin-left : 15px">
		             		<md-input-container >             
				                <md-select ng-model="AdminHomeController.selectedPage" style = "background: white !important" 
				                	ng-change = "AdminHomeController.pageChange(AdminHomeController.selectedPage, AdminHomeController.pageSize, selectedTransaction)" 
				                	name="selectedPage" aria-label="selectedPage">				                	                      
				                    <md-option ng-repeat="level in pagesList" ng-value="level">
				                    {{level}}
				                    </md-option>
				                </md-select>		                
            				</md-input-container>
		             	</span>
		             	<span style = "margin-left : 20px">Rows per page: </span>
		             	<span style = "margin-left : 15px">
		             	<md-input-container >             
				                <md-select ng-model="AdminHomeController.pageSize" style = "background: white !important" 
				                	ng-change = "AdminHomeController.pageChange(1, AdminHomeController.pageSize, selectedTransaction)" 
				                	name="pageSize" aria-label="pageSize">				                	                      
				                    <md-option ng-repeat="level in rowCount" ng-value="level">
				                    {{level}}
				                    </md-option>
				                </md-select>		                
            				</md-input-container>
		             	</span>
		             	<span style = "margin: 0px 15px">{{AdminHomeController.startNumber}} - {{AdminHomeController.endNumber}} of {{totalCount}}</span>		             	
		             	<button class= "md-icon-button md-button md-ink-ripple" style = "cursor: pointer; margin-left : 15px" ng-click = "AdminHomeController.pageChange(AdminHomeController.selectedPage - 1 , AdminHomeController.pageSize, selectedTransaction)"  ng-disabled = "AdminHomeController.selectedPage == 1"><i class="material-icons">keyboard_arrow_left</i><md-tooltip>Previous page</md-tooltip></button>
		             	<button class= "md-icon-button md-button md-ink-ripple" style = "cursor: pointer;margin-right: 15px" ng-click = "AdminHomeController.pageChange(AdminHomeController.selectedPage + 1 , AdminHomeController.pageSize, selectedTransaction)" ng-disabled = "AdminHomeController.selectedPage == pages"><i class="material-icons">keyboard_arrow_right</i><md-tooltip>Next page</md-tooltip></button>	             	
		             </div>
						</div>
						<div ng-show="selectedTransaction == 'team' ">
						 <div style="border-top: 2px solid #ddd;padding: 8px;position:relative;" class="layout-row" ng-repeat="md in AdminHomeController.myDetailsHistory" ng-class= "{ 'border-bottom' : ($index+1) == AdminHomeController.myDetailsHistory.length }">
						 <div class="ribbon" ng-show="md.isApproveSLT == 1">
						 	<span ng-if="!md.isProbationPeriod">
								<img  ng-src="Assets/leavepolicy1-blue-LMS.svg" style="height: 27px;">
								<md-tooltip>To be approved by SMT</md-tooltip>
							</span>
							<span ng-if="md.isProbationPeriod">
								<img ng-src="Assets/leavepolicy1-redLMS.svg" style="height: 27px;">
								<md-tooltip>To be approved by SMT and Employee on probation</md-tooltip>
							</span>
						 </div>
						  <div class="ribbon" ng-show="md.isApproveSLT == 0 && md.isProbationPeriod">
							<span>
								<img ng-src="Assets/leavepolicy1-redLMS.svg" style="height: 27px;">
								<md-tooltip>Employee on probation</md-tooltip>
							</span>
						  </div>
						 
							<div  style="width: 90px" class="layout-row layout-align-center-start">
								<span style="background:#19172F;color: white;border-radius: 50%;font-size: 16px;font-weight: bold;min-width: 60px;line-height: 60px;text-align: center;">{{md.shortName}}</span>
							</div>
							<div  layout="column" flex='65'>
								<div class="merilytics-content" >							
							<div>
								 <div><span class="Labels" ng-click="AdminHomeController.individualDetails(md)" style="cursor:pointer" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.employeeName}}</span>  {{md.message}}  <span ><span ng-show="(md.leaveStatus == 7 || md.leaveStatus == 8 || md.leaveStatus == 9)"> conversion of</span></span><span class="Labels" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.leaveType}}</span><span ng-show="(md.leaveStatus == 7 || md.leaveStatus == 8 || md.leaveStatus == 9)"> to </span><span class="Labels" ng-style="md.isProbationPeriod ? { 'color':'red'} : { 'color':'#217FBC'}">{{md.conversionType}}</span></div> 
								 <!-- <span ng-if="md.leaveType == 'WFH'"> approval to <span class="Labels">Work From Home</span></span>
								 <span ng-if="md.leaveType == 'compOff'"> a <span class="Labels">Compensatory Off Credit</span></span>
								 <span ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff' && md.isAutomated == 0 "> for a <span class="Labels">Leave ({{md.leaveType}})</span></span>
								 <span ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff' && md.isAutomated == 1 "> for a leave <span class="Labels">Unpaid to Paid</span></span> -->
							</div>
							<div>
								<div>Requested on  <span style="color:#383085;font-weight:bold">{{md.createdDate | date}}</span></div> 
								<div>Dates: <!-- <span ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">from</span>
									<span ng-show="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">on</span> -->
								<b style="color: #383085">{{md.leaveStartDate | date}}</b>
								<span ng-if="md.sessionOfStartDate != 1">
									<b style="color: #383085">({{md.sessionOfStartDay}})</b>
								</span>
								<span ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)"> to </span>
								<span style="color: #383085;font-weight:bold" ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">{{md.leaveEndDate | date}}</span>
								<span ng-if="md.sessionOfEndDate != 1" ng-hide="(md.leaveStartDate | date) == (md.leaveEndDate  | date)">
									<b style="color: #383085">({{md.sessionOfEndDay}})</b>
								</span>
								<span ng-if="md.noOfDays > 1">
									<b style="color: #383085">&nbsp;({{md.noOfDays}} working days)</b>
								</span>
								<span ng-if="md.noOfDays == 1">
									<b style="color: #383085">&nbsp;({{md.noOfDays}} working day)</b>
								</span>
								<span ng-if="md.noOfDays == 0.5">
									<b style="color: #383085">&nbsp;(half day)</b>
								</span>
							</div>
							</div>
							<div layout="column" style="margin-top:5px">
							    <div>Reason:&nbsp;&nbsp;</div>
								<div ng-if="md.leaveType == 'WFH'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>
								<div ng-if="md.leaveType == 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>
								<div ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForLeave}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForLeave}}</span></div>
							</div>
						
							
							<div layout="column" ng-show="(md.leaveStatus == 7 || md.leaveStatus == 8 || md.leaveStatus == 9 )" style="margin-top:5px">
							    <div>Reason for Conversion:&nbsp;&nbsp;</div>
								<div style="color: black; text-overflow: ellipsis;white-space: normal;max-height: 50px;overflow-y: auto;background-color:rgb(235,235,235);" flex title="{{md.reasonForRejectionORRevoke}}"><span style="margin-top:5px"><img ng-src="Assets/Note_Icon.svg"  style="height:18px;position:relative;top:4px;margin-right:15px;">{{md.reasonForRejectionORRevoke}}</span></div>
								<!-- <div ng-if="md.leaveType == 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;overflow: hidden;" flex title="{{md.reasonForRejectionORRevoke}}">{{md.reasonForRejectionORRevoke}}</div>
								<div ng-show="md.leaveType != 'WFH' && md.leaveType != 'compOff'" style="color: black; text-overflow: ellipsis;white-space: normal;overflow: hidden;" flex title="{{md.reasonForRejectionORRevoke}}">{{md.reasonForRejectionORRevoke}}</div> -->
							</div>									
								</div>
							</div>
						
							<div class="layout-column layout-align-xs-center-center layout-align-gt-xs-space-between-end flex-gt-xs-35" >
							<div class="layout-row firstinout"  style="padding-top:0px">
						
								<div  ng-show="md.isAutomated==1" style="margin-right:10px" class="marginbottommedia"><div style="color:#383085; float:left">First In:</div>&nbsp;&nbsp;<div  style="background-color:rgb(235,235,235);border-radius: 3px;padding-left:3px;float:right" class="marginrightmmedia">{{md.logInTime}}&nbsp;&nbsp;<i class="material-icons" style="font-size: 17px;position:relative;top:2px">access_time</i></div></div>
								<div  ng-show="md.isAutomated==1"><div style="color:#383085;float:left">Last Out:</div>&nbsp;&nbsp;<div  style="background-color:rgb(235,235,235);border-radius: 3px;padding-left:3px;float:right">{{md.logOutTime}}&nbsp;&nbsp;<i class="material-icons" style="font-size: 17px;position:relative;top:2px">access_time</i></div></div>
						
							</div>
								<div ng-show="md.isAutomated==0" class="layout-row" >
									<div style="border: 2px solid red;border-radius: 50%;margin: 5px; margin-right: 10px" class="merilytics-cursor" ng-click="AdminHomeController.RejectLeave(md)">
											<img layout-padding ng-src="Assets/cancel-icon.svg" height="25px"><md-tooltip>Reject {{md.leaveType}}</md-tooltip>
									</div>
									<div style="border: 2px solid #95AF28;border-radius: 50%;margin: 5px"  class="merilytics-cursor" ng-click="AdminHomeController.ApproveLeave($event,md)" >
										<img layout-padding ng-src="Assets/Check-icon.svg"  height="25px"><md-tooltip>Approve {{md.leaveType}}</md-tooltip>
									</div>
								</div>
								<div ng-show="md.isAutomated==1" class="layout-row">
									<div class="merilytics-cursor" ng-click="AdminHomeController.UnPaidToPaidReject(md)" style="margin-right:10px">
										<img ng-src="Assets\convert-wrong.svg" style="height: 50px"><md-tooltip>Reject Paid leave to {{md.conversionType}}</md-tooltip>
									</div>
									<div  class="merilytics-cursor" ng-click="AdminHomeController.UnPaidToPaidApprove($event,md)" >
										<img ng-src="Assets\convert-right.svg" style="height: 50px"><md-tooltip>Approve Paid leave to {{md.conversionType}}</md-tooltip>
									</div>
								</div>
							</div>
							</div>
							<div class="layout-row layout-align-center-center merilytics-content-title" ng-show="AdminHomeController.myDetailsHistory == 0 ? true: false" >
								<span>No data to display</span>
							</div>
							<!-- <md-table-pagination ng-show = "AdminHomeController.teamDetailsHistory.length > 10" md-limit="query.limit" md-limit-options="[10,20,40,60]" md-page="query.page" md-total="{{AdminHomeController.teamDetailsHistory.length }}"
		             md-page-select="1" md-boundary-links="options.boundaryLinks" style= "text-align: center;"></md-table-pagination> -->	
		             <div layout= "row" layout-align = "end-center" style = "margin-top: 20px" class="sticky-paginator-admin">
		             	<span>Go to page: </span>
		             	<span style = "margin-left : 15px">
		             		<md-input-container >             
				                <md-select ng-model="AdminHomeController.selectedPage" style = "background: white !important" 
				                	ng-change = "AdminHomeController.pageChange(AdminHomeController.selectedPage, AdminHomeController.pageSize, selectedTransaction)" 
				                	name="selectedPage" aria-label="selectedPage">				                	                      
				                    <md-option ng-repeat="level in pagesList" ng-value="level">
				                    {{level}}
				                    </md-option>
				                </md-select>		                
            				</md-input-container>
		             	</span>
		             	<span style = "margin-left : 20px">Rows per page: </span>
		             	<span style = "margin-left : 15px">
		             	<md-input-container >             
				                <md-select ng-model="AdminHomeController.pageSize" style = "background: white !important" 
				                	ng-change = "AdminHomeController.pageChange(1, AdminHomeController.pageSize, selectedTransaction)" 
				                	name="pageSize" aria-label="pageSize">				                	                      
				                    <md-option ng-repeat="level in rowCount" ng-value="level">
				                    {{level}}
				                    </md-option>
				                </md-select>		                
            				</md-input-container>
		             	</span>
		             	<span style = "margin: 0px 15px">{{AdminHomeController.startNumber}} - {{AdminHomeController.endNumber}} of {{totalCount}}</span>
		             	<button class= "md-icon-button md-button md-ink-ripple" style = "cursor: pointer; margin-left : 15px" ng-click = "AdminHomeController.pageChange(AdminHomeController.selectedPage - 1 , AdminHomeController.pageSize, selectedTransaction)" ng-disabled = "AdminHomeController.selectedPage == 1"><i class="material-icons" >keyboard_arrow_left</i><md-tooltip>Previous page</md-tooltip></button>
		             	<button class= "md-icon-button md-button md-ink-ripple" style = "cursor: pointer;margin-right: 15px"  ng-click = "AdminHomeController.pageChange(AdminHomeController.selectedPage + 1 , AdminHomeController.pageSize, selectedTransaction)" ng-disabled = "AdminHomeController.selectedPage == pages"><i class="material-icons">keyboard_arrow_right</i><md-tooltip>Next page</md-tooltip></button>
		             </div>
						</div>
						</div>
										
					</div>					
				</div>
	
		<script type="text/ng-template" id="RejectLeave.html">
<md-dialog style= "height: auto; width: 40%">


			<md-dialog-content>
				<md-toolbar style="background:white;color:black" class="layout-row layout-align-space-between-center layout-padding">
					<div class="layout-row layout-align-start-center" ng-show=" AdminHomeController.RejectData.leaveType == 'WFH'"> Please provide reason(s) for WFH rejection.<span style="color:red">*</span></div>
					<div class="layout-row layout-align-start-center" ng-show=" AdminHomeController.RejectData.leaveType == 'compOff'">Please provide reason(s) for Comp-Off rejection.<span style="color:red">*</span></div>
					<div class="layout-row layout-align-start-center" ng-show=" AdminHomeController.RejectData.leaveType != 'WFH' &&  AdminHomeController.RejectData.leaveType != 'compOff'">Please provide reason(s) for Leave rejection.<span style="color:red">*</span></div>
					
					<div>
						<md-button class="md-icon-button" ng-click="closeView()"> <md-tooltip>Close</md-tooltip> <img ng-src="Assets\close.png"/> </md-button>
					</div>
				</md-toolbar>	
				<div layout-align="space-between center" layout-padding  style="background:white;color:black">
				<form name ="RejectionForm">
					<md-input-container class= "md-block" md-no-float>
          				<textarea placeholder="Write your message"  required ng-model="reject.reasonForRejectionORRevoke" name="rejectionReason" style="text-shadow: 1px 1px rgb(216, 216, 216); padding: 10px 16px; margin-bottom: 20px; height: 200px !important" md-select-on-focus></textarea>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && AdminHomeController.RejectData.leaveType == 'WFH'" class= "errorMsg">
							Reason(s) for WFH rejection is required.									
						</div>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && AdminHomeController.RejectData.leaveType == 'compOff'" class= "errorMsg">
							Reason(s) for Comp-Off rejection is required.									
						</div>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && AdminHomeController.RejectData.leaveType != 'WFH' && AdminHomeController.RejectData.leaveType != 'compOff'" class= "errorMsg">
							Reason(s) for Leave rejection is required.									
						</div>
        			</md-input-container> 
					<md-input-container class="layout-row layout-align-end-center">
						<md-button  class="md-raised" ng-click="AdminHomeController.Reject($event,RejectionForm,reject)">Submit</md-button>
						
					</md-input-container>
				</form>
</div>

			</md-dialog-content>

</md-dialog>
		</script>
		
		<script type="text/ng-template" id="RejectSystemGeneratedLeavesFromAdmin.html">
<md-dialog style= "height: auto; width: 40%">


			<md-dialog-content>
				<md-toolbar style="background:white;color:black" class="layout-row layout-align-space-between-center layout-padding">
					
					<div class="layout-row layout-align-start-center" ng-show=" AdminHomeController.UnPaidToPaidReject.leaveType != 'WFH' &&  AdminHomeController.UnPaidToPaidReject.leaveType != 'compOff'">Please provide reason(s) for Leave rejection.<span style="color:red">*</span></div>
					
					<div>
						<md-button class="md-icon-button" ng-click="closeView()"> <md-tooltip>Close</md-tooltip> <img ng-src="Assets\close.png"/> </md-button>
					</div>
				</md-toolbar>	
				<div layout-align="space-between center" layout-padding  style="background:white;color:black">
				<form name ="RejectionForms">
					<md-input-container class= "md-block" md-no-float>
          				<textarea placeholder="Write your message"  required ng-model="reject.reasonForRejectionORRevoke" name="rejectionReason" style="text-shadow: 1px 1px rgb(216, 216, 216); padding: 10px 16px; margin-bottom: 20px; height: 200px !important" md-select-on-focus></textarea>
						<div ng-if="RejectionForms.rejectionReason.$touched && RejectionForms.rejectionReason.$error.required && AdminHomeController.UnPaidToPaidReject.leaveType == 'WFH'" class= "errorMsg">
						Reason(s) for WFH rejection is required.									
						</div>
						<div ng-if="RejectionForms.rejectionReason.$touched && RejectionForms.rejectionReason.$error.required && AdminHomeController.UnPaidToPaidReject.leaveType == 'compOff'" class= "errorMsg">
						Reason(s) for Comp-Off rejection is required.									
						</div>
						<div ng-if="RejectionForms.rejectionReason.$touched && RejectionForms.rejectionReason.$error.required && AdminHomeController.UnPaidToPaidReject.leaveType != 'WFH' && AdminHomeController.UnPaidToPaidReject.leaveType != 'compOff'" class= "errorMsg">
						Reason(s) for Leave rejection is required.									
						</div>
        			</md-input-container> 
					<md-input-container class="layout-row layout-align-end-center">
						<md-button  class="md-raised" ng-click="AdminHomeController.UnPaidReject($event,RejectionForms,reject)">Submit</md-button>
						
					</md-input-container>
				</form>
</div>

			</md-dialog-content>

</md-dialog>
		</script>
				
				<style>
				.selected-history{
 					background: #ddd;
 					color: black !important; 
 				}
				.unselected-history{
 					background: #383085;
 					color:white;
 				}
				span img{
 					height: 20px;
 				}
 				
 					.emp-selected-tab{
		background: white;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.emp-unselected-tab{
		background: #EEEFF1;
		
	}
	.Labels {
color: #217FBC;
 font-size: 16px;
 font-weight: bold;
}
md-input-container textarea.md-input{
	min-height: 100px !important;
	border: 2px solid #ddd;
	border-radius: 10px;

}
.errorMsg {
 color:red;
 font-size: 11px;
 font-family: segoe ui;
 }
	.border-bottom {
	 border-bottom: 2px solid rgb(221, 221, 221);
	}
	.md-select-value{
		min-height : 25px !important;
		min-width : 50px !important;		
	}
	.md-select-value > span:not(.md-select-icon) .md-text{
		margin-left :5px !important;
		margin-right: 5px !important;
	}
	.md-select-value .md-select-icon {
		margin: 0 4px !important;
		width :10px !important;
	}
	.md-table-pagination md-select .md-select-value span.md-select-icon {
		margin-right : 5px !important;
	} 
.ribbon{
position:absolute;
top:0px;
left:0px;
}
.sticky-paginator-admin{
	position: sticky;
	bottom: 0 !important;
	background:white;
}
	 		</style>