

<div ui-view>
<div layout="column" flex layout-padding >
	<div >
		<div layout-gt-sm="row" layout-align-gt-sm="space-between center" style="margin:10px 0;">
			<div class="merilytics-content-title layout-row layout-align-center-center">Employee List</div>
			<div class="layout-row layout-align-center-center">
				<form name="SearchForm">
					<md-input-container md-no-float style="border: 1px solid #95AF28 !important;border-radius: 6px !important;">
					   <input placeholder="Search Here" style="display:inline; border:none !important;box-shadow:none; padding-left: 8px;text-shadow: 1px 1px rgb(216, 216, 216);"
							 type="text" ng-model="Search.SerachKey" ng-change="EmpDetailsController.listAccordingTosearch(Search.SerachKey)" name="SerachKey" title="search here">
					   <md-icon class="material-icons" style="color:#95AF28; font-size:21px">search</md-icon>
					</md-input-container>
				</form>
			</div>
		</div>
		<div>
			<md-table-container >
				<table md-table  class="emp-details-table">
					<thead md-head md-order="query.order">
						<tr md-row>
							<th md-column md-order-by="SNO" style="width: 65px;">S.No</th>
							<th md-column md-order-by="empID" style="width: 130px;">Employee ID</th>
							<th md-column md-order-by="empName">Employee Name</th>
							<th md-column md-order-by="designation">Designation</th>
							<th md-column md-order-by="email">E-mail Address</th>
						</tr>
					</thead>
					<tbody md-body class="emp-details-table">
						<tr md-row ng-repeat="ed in EmpDetailsController.EmployeeDetails | filter: Search.SerachKey | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit" ng-click="EmpDetailsController.SelectedEmployee(ed)">
							<td md-cell>{{ed.SNO}}</td>
							<td md-cell>{{ed.empID}}</td>
							<td md-cell>{{ed.empName}}</td>
							<td md-cell>{{ed.designation}}</td>
							<td md-cell>{{ed.email}}</td>
						</tr>
					</tbody>
				</table>
			</md-table-container>
			<md-table-pagination  md-limit="query.limit" md-limit-options="[10,20,30]" md-page="query.page" md-total="{{empDetails.length }}"
		             md-page-select="1" md-boundary-links="options.boundaryLinks" style= "text-align: center;"></md-table-pagination>
		</div>
	</div>
</div>
</div>

<style>
	md-autocomplete-wrap input {
	border: none !important;
	box-shadow:inset 0px 0 0px 0 white !important;
}

md-chips-wrap{
	background: #ddd !important;
	border-radius: 10px !important;
}
md-checkbox{
	margin-bottom: 0 !important;
}
md-input-container{
	padding: 0px !important;
	background: white !important;
	border-radius: 10px !important;
}

md-input-container textarea.md-input{
	min-height: 100px !important;
	border: 2px solid #ddd;
	border-radius: 10px;

}
md-select{
	border: 2px solid #ddd !important;
}
.email_recipients {
background-color: #eee;
border-radius: 5px;
margin: 0px 10px;
padding: 15px 10px;
}

.chip{
border-radius: 10px;
height: 23px;
background-color: white;
margin-bottom: 8px;
color: black;
margin-right: 15px;
padding-left:10px;
padding-right: 10px;
display: inline-block;
} 
.closeItem {
	height: 12px;
	width: 12px;
	vertical-align:middle;
	}
	
.hover:hover {
cursor:pointer;
}
md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{
	background-color: #95AF28 !important;
}
md-select.md-table-select > .md-select-value > span.md-select-icon {
display : none;}

.greenLabel {
max-height: 68px;
 padding: 0px; 
 background: #95Af28; 
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 color:white;
 }
 .errorMsg {
 color:red;
 font-size: 11px;
 font-family: segoe ui;
 }
 input, md-select {
 border: none !important;
border-radius: none !important;
	box-shadow: none;
 }
 .md-datepicker-calendar-pane.md-pane-open {
 background-color: white;
 }
 input,md-select {
 	border-radius: 8px !important;
}


</style>	
	