
<div layout="column" flex style="background: #EEEFF1">
		<div layout="column" flex>
				<div layout="row" class="empdetails-content" style="background: white;border-radius:10px">
					<div layout="column" flex>
						<div layout="row" class="layout-xs-column" layout-align="space-between center">
							<div class="merilytics-content-title"><span style="padding-left: 8px;">Employee Details</span></div> 
							<div>
								<form name="SearchForm">
									
								</form>
							</div> 
						</div>
						<div class="empdetails-form" layout-gt-xs="row" style="border: 1px solid black;margin: 10px;border-radius: 10px" layout-padding >
							<div layout="row" layout-align="center center">
								<img alt="" class="user-icon-background" ng-src="Assets/user-icon-white.svg" style="min-height: 200px;max-height: 200px">
							</div>
							<!-- <div flex layout-padding>
								<div class="merilytics-title" layout="column" layout-align-xs="center center" style=""><span style="color: #4B4398">{{EmployeeIndividualController.SelectedEmployeeInfo.empName}}</span><span> {{EmployeeIndividualController.SelectedEmployeeInfo.designation}}</span> </div>
								<div class="merilytics-content" layout="row" layout-align-xs="center center">{{EmployeeIndividualController.SelectedEmployeeInfo.designation}}</div>
								<div class="merilytics-content" layout-gt-sm="row" layout-align-sm="center center" flex>
									<div layout-gt-xs="row" flex layout-align-xs="center center">
										<span flex="30">Email :</span>
										<span>{{EmployeeIndividualController.SelectedEmployeeInfo.emailID}}</span>
									</div>
									<div layout="row" flex layout-align-xs="center center">
										<span flex="30">Phone :</span>
										<span>{{EmployeeIndividualController.SelectedEmployeeInfo.mobileNo}}</span>
									</div>
								</div>
								<div class="merilytics-content" layout-gt-sm="row" layout-align-xs="center center">
										<div layout="row" flex layout-align-xs="center center">
											<span flex="30">Employee ID :</span>
											<span>{{EmployeeIndividualController.SelectedEmployeeInfo.empID}}</span>
										</div>
										<div layout="row" flex layout-align-xs="center center">
											<span flex="30">Employee Type :</span>
											<span>{{EmployeeIndividualController.SelectedEmployeeInfo.employeeType}}</span>
										</div>
								</div>
								<div class="merilytics-content" layout-gt-sm="row" layout-align-xs="center center">
										<div layout="row" flex layout-align-xs="center center">
											<span flex="30">Date of joining :</span>
											<span>{{EmployeeIndividualController.SelectedEmployeeInfo.DOJ}}</span>
										</div>
										<div layout="row" flex layout-align-xs="center center">
											<span flex="30">Manager :</span>
											<span>{{EmployeeIndividualController.SelectedEmployeeInfo.managerName}} <span> ( {{EmployeeIndividualController.SelectedEmployeeInfo.managerID}} ) </span></span>
										</div>
								</div>	
							</div> -->
							<div>
								  <div><div class="merilytics-title" layout="column" layout-align-xs="center center" style=""><span style="color: #4B4398">{{EmployeeIndividualController.SelectedEmployeeInfo.empName}}</span> <span> {{EmployeeIndividualController.SelectedEmployeeInfo.designation}}</span> </div></div>
								  <div class="flex-container">
									  <div><span class="meritlytics-font-bold">Email:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.emailID}}</div>
									  <div><span class="meritlytics-font-bold">Phone:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.mobileNo}}</div>  
									  <div><span class="meritlytics-font-bold">Employee ID:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.empID}}</div>
									  <div><span class="meritlytics-font-bold">Employee Type:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.employeeType}}</div>
									  <div><span class="meritlytics-font-bold">Date of joining:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.DOJ | date}}</div>
									  <div><span class="meritlytics-font-bold">Manager:</span> {{EmployeeIndividualController.SelectedEmployeeInfo.managerName}} <span> ( {{EmployeeIndividualController.SelectedEmployeeInfo.managerID}} ) </div>
								  </div>		  
							</div>
						</div>
						<!-- <div layout="gt-sm-row" style="border-radius: 10px;background: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 10px;min-height:65px">
		    				<div flex= "20" layout="row" layout-align="center center" class="merilytics-content-title">Employment Status</div>
		    				<form flex= "70" name="EmploymentStatusForm" layout= "row">
		    						    						    				
		    				<div flex layout= "row" layout-align="center center">
		    				   <span layout="column" ng-repeat="st in EmployeeIndividualController.EmploymentStatusValues">
								<md-checkbox  id = "st.employmentStatus" ng-disabled = "!userData.seniorManager" ng-class= "(!userData.seniorManager) ? 'disabled' : '' "							
									ng-checked= "st.Checked" ng-click = "EmployeeIndividualController.EmployeeCurrentStatusClick('change',st.employmentStatusID)" style= "margin-right: 5px;">{{st.employmentStatus}} 
								</md-checkbox>	
							   </span>
							  </div>		    				
		    				
		    				<div flex= "30" layout="column" class="layout-align-space-around-start">		    					
		    					<div layout="column" layout-align = "center-center">
		    						<span style="font-size: 14px;text-shadow: 1px 1px rgb(212, 212, 212)">{{EmployeeIndividualController.displayval}}</span>	
			    					<md-input-container> 
										<md-datepicker ng-model="EmploymentStatus.StatusEndDate" md-placeholder= "End Date" 
											onkeydown="return false" ng-model-options="{ timezone: 'utc' }"  name="StatusEndDate" 
											md-open-on-focus md-hide-icons="calendar" ng-disabled= "EmployeeIndividualController.EndDateDisable || !userData.seniorManager">
										</md-datepicker>										
					  			 	</md-input-container>
					  			 </div>
		    				</div>
		    				</form>
		    				<div flex layout="column"layout-align="center-center" style="padding-top:10px;" ng-show="userData.seniorManager">
		    					<img ng-src="Assets/save.svg" style= "cursor:pointer" ng-click = "EmployeeIndividualController.saveDetails($event,EmploymentStatusForm,EmploymentStatus)">
		    				 	<span>Save</span>
		    				 </div>
		    			</div> -->
		    			<div layout="gt-sm-row" style="border-radius: 10px;background: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);margin: 10px;min-height:65px">
		    				<!-- <div layout="row" layout-align="center center" class="merilytics-content-title" style="padding-left: 20px">Employment Status:</div> -->
		    				<div flex layout= "row" layout-align="center center" style="padding-left: 20px;padding-right: 20px;">
		    				   <div layout-gt-sm="row" flex layout-align="space-between center"  ng-repeat="(key,val) in EmployeeIndividualController.EmploymentStatusValues">
		    				   		<div class="layout-gt-xs-row layout-xs-column layout-align-center-center">
										<div class="merilytics-content-title">Employment Status:&nbsp;</div>
										<div>{{val.employmentType}}</div>
									</div>
									<div class="layout-gt-xs-row layout-xs-column layout-align-center-center" ng-if="val.startDate.length">
										<div class="merilytics-content-title">Start Date:&nbsp;</div>
										<div>{{val.startDate | date}}</div>
									</div> 
									<div class="layout-gt-xs-row layout-xs-column layout-align-center-center" ng-if="val.endDate.length">
										<div class="merilytics-content-title">End Date:&nbsp;</div>
										<div>{{val.endDate | date}}</div>
									</div>
							   </div>
		    				</div>
		    			</div>
		    		</div>
				</div>
		</div>
</div>
				
		<div flex layout="column" flex style="background: #EEEFF1;margin-bottom: 20px">
	<div layout-gt-md="row" flex>
		<div layout="column" flex style="background: white; margin-right: 10px; border-radius: 10px; margin-bottom: 10px">
			<div class="merilytics-content-title" style="padding-top: 10px; padding-left: 10px">
				<span>Current Leave Balance (as of {{EmployeeIndividualController.SelectedEmployeeCurrentLeaveBalance[0].TodayDate | date}})</span>
			</div>
			<md-card style="box-shadow: none">
			<md-card-content style="text-align: center; padding: 0">
					<div class="leave-floating-box" ng-repeat="la in EmployeeIndividualController.SelectedEmployeeCurrentLeaveBalance" style="display: inline-block; vertical-align: top;">
						<div style="background: #9ca4ab; color: white; border-radius: 10px; text-align: left" flex layout-padding>
							<div flex class="merilytics-content">
								<span>{{la.leaveType}}</span>
							</div>
							<div flex layout="row" layout-align="center center">
								<span class="merilytics-circle" style="color: black;" ng-if="la.leaveType != 'Comp-Off' ">{{la.Remain_Leaves}}</span>
								<span class="merilytics-circle" style="color: black;" ng-style="{ 'cursor': la.Remain_Leaves > 0 ? 'pointer' : 'auto' }" ng-if="la.leaveType == 'Comp-Off' " ng-click="la.Remain_Leaves > 0 ? EmployeeIndividualController.EmployeeCompoffDetails(la.Remain_Leaves) : ''">
								 <label ng-style="{ 'border-bottom': la.Remain_Leaves > 0 ? '2px solid' : 'none' }">{{la.Remain_Leaves}}</label>
								</span>
							</div>
							<div layout="column" flex>
								<div>
									<span layout="row" layout-align="space-between center" flex ng-if="la.leaveType == 'Comp-Off' ">
										<div flex>Comp-Offs Availed</div>
										<div>:</div>
										<div style="width: 25px; text-align: right">{{la.Leaves_Availed}}</div>
									</span>
									<span layout="row" layout-align="space-between center" flex ng-if="la.leaveType != 'Comp-Off' ">
										<div flex>Leaves Availed</div>
										<div>:</div>
										<div style="width: 25px; text-align: right">{{la.Leaves_Availed}}</div>
									</span>
									
								</div>
								<div>
									<span layout="row" layout-align="space-between center" flex ng-if="la.leaveType == 'Comp-Off' ">
										<div flex>Total Comp-Offs</div>
										<div>:</div>
										<div style="width: 25px; text-align: right">{{la.Anual_Allotment}}</div>
									</span>
									<span layout="row" layout-align="space-between center" flex ng-if="la.leaveType != 'Comp-Off' ">
										<div flex>Annual Allotment</div>
										<div>:</div>
										<div style="width: 25px; text-align: right">{{la.Anual_Allotment}}</div>
									</span>
									
								</div>
							</div>
						</div>
					</div>
			</md-card-content>
			</md-card>
		</div>
		 
		<div flex-gt-md="20" style="background: white;border-radius: 10px; min-width: 290px; margin-bottom: 10px">

				<div style="cursor: pointer; background: #95AF28; border-radius: 10px;"
				 layout="row" flex layout-align="space-between center">
				  <div flex="50" ng-class="flag == 'ShowYeartoDate' ? 'selected-module': 'unselected-module'"  ng-click="(flag == 'ShowMonthtoDate') ? (flag = 'ShowYeartoDate') : '' " style="border-top-left-radius: 6px; border-bottom-left-radius: 6px;padding: 4px;border: 3px solid #95AF28;text-align: center;">YTD Status<md-tooltip md-direction="bottom">Year to date Status</md-tooltip></div>
				  <div flex="50" ng-class="flag == 'ShowMonthtoDate' ? 'selected-module':'unselected-module'"  ng-click="(flag == 'ShowYeartoDate')? (flag ='ShowMonthtoDate') : '' " style="border-top-right-radius: 6px; border-bottom-right-radius: 6px; padding:4px;border: 3px solid #95AF28;text-align: center;">MTD Status<md-tooltip md-direction="bottom">Month to date Status</md-tooltip></div>					
				</div>
				<div layout="row" layout-padding layout-align="space-between center">
					<div>Days worked</div>
					<div ng-if="flag == 'ShowYeartoDate'">{{EmployeeIndividualController.YearToDateLeaveConsolidation.noOfDaysWorked}}</div>
					<div ng-if="flag == 'ShowMonthtoDate'">{{EmployeeIndividualController.MonthToDateLeaveConsolidation.noOfDaysWorked}}</div>
				</div> 
				<div layout="row" layout-padding layout-align="space-between center" ng-class="(EmployeeIndividualController.value(flag, 'paidLeaves') == true) ? 'populatenounpaidleaves':''" ng-click="EmployeeIndividualController.PaidLeavesCheck(flag)">
					<div >Paid leaves taken</div>
					<div ng-if="flag == 'ShowYeartoDate'">{{EmployeeIndividualController.YearToDateLeaveConsolidation.noOfPaidLeaves}}</div>
					<div ng-if="flag == 'ShowMonthtoDate'">{{EmployeeIndividualController.MonthToDateLeaveConsolidation.noOfPaidLeaves}}</div>
				</div>
				<div layout="row" layout-padding layout-align="space-between center" ng-class="(EmployeeIndividualController.value(flag, 'UnpaidLeaves') == true) ? 'populatenounpaidleaves':''" ng-click="EmployeeIndividualController.UnpaidLeavesCheck(flag)">
					<div>Unpaid leaves taken</div>
					<div ng-if="flag == 'ShowYeartoDate'">{{EmployeeIndividualController.YearToDateLeaveConsolidation.noOfUnpaidLeaves}}</div>
					<div ng-if="flag == 'ShowMonthtoDate'">{{EmployeeIndividualController.MonthToDateLeaveConsolidation.noOfUnpaidLeaves}}</div>
				</div>
				<div layout="row" layout-padding layout-align="space-between center">
					<div>Company Holidays</div>
					<div ng-if="flag == 'ShowYeartoDate'">{{EmployeeIndividualController.YearToDateLeaveConsolidation.noOfHolidays}}</div>
					<div ng-if="flag == 'ShowMonthtoDate'">{{EmployeeIndividualController.MonthToDateLeaveConsolidation.noOfHolidays}}</div>
				</div>
		</div>
	</div>
	<div layout-gt-sm="row" style="background: white; border-radius: 10px;margin-bottom:0px;" layout-padding layout-align-gt-sm="center center" layout-align="space-around center"
	 class="empdetails-content">
		<div layout="row" layout-align-gt-xs="start center" layout-align-xs="center center" flex>
			<md-button flex-xs="100" layout-align-gt-xs="start center" layout-align-xs="center center" class="meritus-btn apply-leave-buttons" ng-click="EmployeeIndividualController.ApplyForLeave()">Apply for Leave</md-button>
		</div>
		<div layout="row" layout-align-gt-xs="center center" layout-align-xs="center center" flex>
			<md-button flex-xs="100" layout-align-gt-xs="start center" ng-if="selectedEmployeeController.SelectedEmployeeInfo.coreTeam" layout-align-xs="center center" class="meritus-btn apply-leave-buttons" ng-click="EmployeeIndividualController.ApplyForWorkFromHome()">Apply for WFH</md-button>
		</div>
		<div layout="row" layout-align-gt-xs="end center" layout-align-xs="center center" flex>
			<md-button flex-xs="100" layout-align-gt-xs="start center" layout-align-xs="center center" class="meritus-btn apply-leave-buttons" ng-click="EmployeeIndividualController.ApplyForCompOff()">Request Comp-Off Credit </md-button>
		</div>
	</div>
	
</div>
	
	
	<script type="text/ng-template" id="UnPaidLeavesCheck.html">  
		
<md-dialog style="background-color:white;height: auto; width: 60%;">
	<md-dialog-content> 
	<md-toolbar	style="background:white;color:black; padding: 0 10px" 
				class="layout-row layout-align-space-between-center">
		<div class="layout-row layout-align-start-center">Unpaid Leave List</div>
		<div>
			<md-button class="md-icon-button" ng-click="closeView()"> <md-tooltip>Close</md-tooltip>
				<img ng-src="Assets\close.png" /> 
			</md-button>
		</div>
	</md-toolbar>
  <hr style="margin: 0">

<h4 style="margin: 0px 10px;" class="layout-padding">{{EmployeeIndividualController.TotalUnpaidLeavesTaken}} Unpaid Leaves Taken</h4>   
			<md-table-container class="table_content layout-padding" style="margin: 0px 10px;">
				<div layout="row" style="background-color: #95AF28; max-height: 50px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); text-shadow: 1px 1px rgb(124, 124, 124); padding:0px;">
					<div style="max-width:50px; min-width:50px" layout="row" layout-align="space-between-center">
						<div flex="95" style="text-align:left; padding-left:10px" >S.No.</div>
						<div class="vl"></div>
					</div>
					<div flex="50" layout="row" layout-align="space-between-center">
						<div flex style="text-align:left; padding-left:10px">Leave Start Date</div>
						<div class="vl"></div>						
					</div>

					<div flex="50" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">Leave End Date</div>
						<div class="vl"></div>						
					</div>	
                    <div flex="25" layout="row" layout-align="space-between-center">
						<div flex style="text-align:left; padding-left:10px">No. of Days</div>
						<div class="vl"></div>						
					</div>	
                    <div flex="65" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">Reason for leave</div>						
					</div>			
				</div>
				<div layout="column" style="max-height : 50px; padding:0px" ng-repeat="data in EmployeeIndividualController.UnpaidLeavesdata"> 
					<div flex layout="row">
						<div style="max-width:50px; min-width:50px" layout="row" layout-align="space-between-center">
							<div flex="95" style="text-align:left; padding-left:10px">{{data['S.No.']}}</div>
							<div class="vl"></div>
						</div>
						<div flex = "50" layout="row" layout-align="space-between-center">
							<div flex="95" style="text-align:left; padding-left:10px">{{data['leaveStartDate'] | date}}</div>
							<div class="vl"></div>
						</div>
						<div flex="50" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px">{{data['leaveEndDate'] | date}}</div>
							<div class="vl"></div>							
						</div>	
                        <div flex="25" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px">{{data['noOfDays']}}</div>	
                         <div class="vl"></div>							
						</div>		
                         <div flex="65" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px;width: 50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><md-tooltip>{{data['reasonForLeave']}}</md-tooltip>{{data['reasonForLeave']}}</div>							
						</div>				
					</div>
					<div>
						<hr style="margin:0px;opacity:0.1"></hr>
					</div>
				</div>
				<div ng-if="EmployeeIndividualController.UnpaidLeavesdata.length == 0" class="layout-row layout-align-center-center">No data to display.</div>
			</md-table-container>

	</md-dialog-content> 
	</md-dialog>
</script>

<script type="text/ng-template" id="PaidLeavesCheck.html">  
		
<md-dialog style="background-color:white;height: auto; width: 60%;">
	<md-dialog-content> 
	<md-toolbar	style="background:white;color:black; padding: 0 10px" 
				class="layout-row layout-align-space-between-center">
		<div class="layout-row layout-align-start-center">Paid Leave List</div>
		<div>
			<md-button class="md-icon-button" ng-click="closeView()"> <md-tooltip>Close</md-tooltip>
				<img ng-src="Assets\close.png" /> 
			</md-button>
		</div>
	</md-toolbar>
  <hr style="margin: 0">

<h4 style="margin: 0px 10px;" class="layout-padding">{{EmployeeIndividualController.TotalPaidLeavesTaken}} Paid Leaves Taken</h4>   
			<md-table-container class="table_content layout-padding" style="margin: 0px 10px;">
				<div layout="row" style="background-color: #95AF28; max-height: 50px; height: 50px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); text-shadow: 1px 1px rgb(124, 124, 124); padding:0px;">
					<div style="max-width:50px; min-width:50px" layout="row" layout-align="space-between-center">
						<div flex="95" style="text-align:left; padding-left:10px" >S.No.</div>
						<div class="vl"></div>
					</div>
					<div flex="50" layout="row" layout-align="space-between-center">
						<div flex style="text-align:left; padding-left:10px">Leave Start Date</div>
						<div class="vl"></div>						
					</div>
					<div flex="50" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">Leave End Date</div>
						<div class="vl"></div>						
					</div>
                    <div flex="30" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">No. of Days</div>
						<div class="vl"></div>						
					</div>
					<div flex="50" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">Leave Type</div>	
<div class="vl"></div>						
					</div>		
                    <div flex="60" layout="row" layout-align="space-between-center">
						<div flex style="padding-left:10px">Reason for leave</div>						
					</div>				
				</div>
				<div layout="column" style="max-height : 50px; padding:0px" ng-repeat="data in EmployeeIndividualController.PaidLeavesdata"> 
					<div flex layout="row">
						<div style="max-width:50px; min-width:50px" layout="row" layout-align="space-between-center">
							<div flex="95" style="text-align:left; padding-left:10px">{{data['S.No.']}}</div>
							<div class="vl"></div>
						</div>
						<div flex = "50" layout="row" layout-align="space-between-center">
							<div flex="95" style="text-align:left; padding-left:10px">{{data['leaveStartDate'] | date}}</div>
							<div class="vl"></div>
						</div>
						<div flex="50" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px">{{data['leaveEndDate'] | date}}</div>
							<div class="vl"></div>							
						</div>
                        <div flex="30" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px">{{data['noOfDays']}}</div>
							<div class="vl"></div>							
						</div>
						<div flex="50" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px">{{data['leaveType'] | date}}</div>	
                         <div class="vl"></div>													
						</div>		
                         <div flex="60" layout="row" layout-align="space-between-center">
							<div flex style="padding-left:10px;width: 50px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"><md-tooltip>{{data['reasonForLeave']}}</md-tooltip>{{data['reasonForLeave']}}</div>							
						</div>					
					</div>
					<div>
						<hr style="margin:0px;opacity:0.1"></hr>
					</div>
				</div>
				<div ng-if="EmployeeIndividualController.PaidLeavesdata.length == 0" class="layout-row layout-align-center-center">No data to display.</div>
			</md-table-container>

	</md-dialog-content> 
	</md-dialog>
</script>
<script type="text/ng-template" id="CompOffCheck.html">

	<md-dialog style="background-color:white;height: auto; width: 80%;">
		<md-dialog-content>
			<md-toolbar style="background:white;color:black" class="layout-row layout-align-space-between-center layout-padding">
				<div class="layout-row layout-align-start-center">Comp-off Credited List</div>
				<div>
					<md-button class="md-icon-button" ng-click="closeView()">
						<md-tooltip>Close</md-tooltip>
						<img ng-src="Assets\close.png" />
					</md-button>
				</div>
			</md-toolbar>
			<div style="padding:0px 10px">
				<hr> 
			</div>

			<h4 style="margin: 0px 10px;" class="layout-padding">{{EmployeeIndividualController.totalCompOffs}} Compensatory Offs Available</h4>   
			<md-table-container class="table_content layout-padding" style="margin: 0px 10px;">
				<div flex layout="row" style="background-color: #95AF28; height: 50px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); text-shadow: 1px 1px rgb(124, 124, 124); padding:0px;">
					<div flex="5" layout="row" layout-align="space-between-center">
						<div flex="95" style="text-align:center" >S.No.</div>
						<div class="vl"></div>
					</div>
					<div flex="15" layout="row" layout-align="space-between-center">
						<div flex="95" style="padding-left:10px">Credit Date</div>
						<div class="vl"></div>
					</div>
					<div flex="15" layout="row" layout-align="space-between-center">
						<div flex="95" style="padding-left:10px">Credit Duration</div>
						<div class="vl"></div>
					</div>
					<div flex layout="row" layout-align="space-between-center">
						<div flex="95" style="padding-left:10px">Comp-Off reason</div>
						<div class="vl"></div>
					</div>
					<div flex="10" layout="row" layout-align="space-between-center">
						<div flex="95" style="padding-left:10px">Status</div>
						<div class="vl"></div>
					</div>
					<div flex="15" layout="row" layout-align="space-between-center">
						<div flex="95" style="padding-left:10px">Taken On</div>
					</div>
				</div>
				<div layout="column" style="height : 50px; padding:0px" ng-repeat="data in EmployeeIndividualController.compOffDetails">
					<div flex layout="row">
						<div flex="5" layout="row" layout-align="space-between-center">
							<div flex="95" style="text-align:center">{{data['S.No.']}}</div>
							<div class="vl"></div>
						</div>
						<div flex="15" layout="row" layout-align="space-between-center">
							<div flex="95" style="padding-left:10px">{{data['Credit Date'] | date}}</div>
							<div class="vl"></div>
						</div>
						<div flex="15" layout="row" layout-align="space-between-center">
							<div flex="95" style="padding-left:10px">{{data['Credit Duration']}}</div>
							<div class="vl"></div>
						</div>
						<div flex layout="row" layout-align="space-between-center">
							<div flex="95" style="padding-left:10px">{{data['Comp-Off reason']}}</div>
							<div class="vl"></div>
						</div>
						<div flex="10" layout="row" layout-align="space-between-center">
							<div flex="95" style="padding-left:10px">{{data['Status']}}</div>
							<div class="vl"></div>
						</div>
						<div flex="15" layout="row" layout-align="space-between-center">
							<div style="padding-left:10px">{{data['Taken On']}}</div>
						</div>
					</div>
					<div>
						<hr style="margin:0px;opacity:0.1"></hr>
					</div>
				</div>

			</md-table-container>

		</md-dialog-content>
	</md-dialog>
</script>
<script type="text/ng-template" id="ApplyForLeave.html">

	<md-dialog style="height: auto; width: 60%">
			<md-toolbar style="background:white;color:black;padding: 0; padding: 0" flex layout="column" layout-padding>
				<div  class="layout-row layout-align-space-between-center" style="padding-bottom:0px">
					<div class="layout-row layout-align-start-center" style="padding-left:16px;">Apply leave for {{EmployeeIndividualController.SelectedEmployeeInfo.empName}} ({{EmployeeIndividualController.SelectedEmployeeInfo.empID}})</div>
					<div>
					 <md-button class="md-icon-button" ng-click="closeView()">
					  <md-tooltip>Close</md-tooltip>
					  <img ng-src="Assets\close.png" /> </md-button>
				    </div>
				</div>
			</md-toolbar>
		<md-dialog-content>
			<form name="ApplyForLeaveForm">

				<div layout-padding style="background:white;">
					<div layout="column" class="email_recipients">
						<label>Recipients:</label>
						<div flex style="margin-bottom: 40px; margin-top: 10px;">
							<div class="chip" ng-repeat="array in EmployeeDefaultRec | filter:{name:'!'}">{{array.employeeName}}</div>
							<div class="chip" ng-repeat="name in EmployeeIndividualController.SelectedEmails | filter:{name:'!'}">{{name.employeeName}}
								<span class="hover">
									<img class="closeItem" ng-src="Assets\close.png" ng-click="remove($index)" />
									<md-tooltip>remove</md-tooltip>
								</span>
							</div>
						</div>
						<md-autocomplete md-selected-item="EmployeeIndividualController.selectedItem" md-search-text="EmployeeIndividualController.searchText"
						    md-items="item in EmployeeIndividualController.querySearch(EmployeeIndividualController.searchText)" md-item-text="item.name" md-selected-item-change="EmployeeIndividualController.selectedItemChange(EmployeeIndividualController.selectedItem)"
						   placeholder="Add recipients/working manager">
							<span md-highlight-text="searchText">{{item.employeeName}}</span>
						</md-autocomplete>
					</div>
       <div layout="column">
<md-checkbox ng-model="ApplyLeave.checkforWM" name="checkboxforWM"  ng-required="EmployeeIndividualController.SelectedEmails==0" aria-label="Checkbox 1">
            Reporting manager same as working manager
          </md-checkbox>
<span ng-show="ApplyForLeaveForm.checkboxforWM.$touched && ApplyForLeaveForm.checkboxforWM.$error.required" class="errorMsg">Please add working manager to the email recipients list OR Check the box if your reporting manager happens to be the same.</span>
</div>
					<div layout-gt-xs="row">
						<div layout-gt-xs="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel">
									<div>From<span style="color:red">*</span></div>
									<div layout="column">
										<div>
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="ApplyLeave.leaveStartDate" ng-change="ApplyLeave.leaveToDayHalf = false" aria-label="Start Date" md-placeholder="From Date"
												    md-min-date="EmployeeIndividualController.minDate" md-max-date="(ApplyLeave.leaveEndDate)? ApplyLeave.leaveEndDate : EmployeeIndividualController.maxDate" ng-model-options="{ timezone: 'utc' }"
												    name="leaveStartDate" required md-open-on-focus md-hide-icons="calendar" required></md-datepicker>
											</md-input-container>
										</div>
										<span ng-show="ApplyForLeaveForm.leaveStartDate.$touched && ApplyForLeaveForm.leaveStartDate.$error.required" class="errorMsg">From date is required</span>
									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="ApplyLeave.leaveFromDayHalf" aria-label="From Half day">Half day</md-checkbox>
									</div>
								</div>
								<div style="background: #ddd;margin-top:2px" ng-if="ApplyLeave.leaveFromDayHalf">
									<md-radio-group ng-model="ApplyLeave.sessionOfStartDate" name="fromID" layout-padding layout="row" layout-align="start center"
									    ng-required="true">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="ApplyForLeaveForm.fromID.$error">
										<div ng-message="required" style="color:red;">First/Second half should be selected.</div>
									</div>
								</div>
							</div>
						</div>
						<div layout="row" flex="10"></div>
						<div layout-gt-xs="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel">
									<div>To<span style="color:red">*</span></div> 
									<div layout="column">
										<div>
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="ApplyLeave.leaveEndDate" aria-label="End Date" md-placeholder="To Date" ng-change="ApplyLeave.leaveToDayHalf = false"
												    md-min-date="(ApplyLeave.leaveStartDate) ? ApplyLeave.leaveStartDate : EmployeeIndividualController.minDate" ng-model-options="{ timezone: 'utc' }"
													md-max-date="EmployeeIndividualController.maxDate"
												    name="leaveEndDate" required md-open-on-focus md-hide-icons="calendar" required></md-datepicker>
											</md-input-container>
										</div>
										<span ng-show="ApplyForLeaveForm.leaveEndDate.$touched && ApplyForLeaveForm.leaveEndDate.$error.required" class="errorMsg">To date is required</span>
									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="ApplyLeave.leaveToDayHalf" aria-label="TO Half day" ng-disabled ="(ApplyLeave.leaveStartDate | date) == (ApplyLeave.leaveEndDate  | date)">
											Half day
										</md-checkbox>
									</div>

								</div>
								<div style="background: #ddd;margin-top:2px" ng-if="ApplyLeave.leaveToDayHalf">
									<md-radio-group ng-model="ApplyLeave.sessionOfEndDate" name="toID" layout-padding layout="row" layout-align="start center"
									    ng-required="true">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="ApplyForLeaveForm.toID.$error">
										<div ng-message="required" style="color:red;">First / Second half should be selected.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div flex style="margin-top:25px;">
						<label>Leave Type<span style="color:red">*</span></label>
						<md-input-container style="width: 100%;">
							<md-select ng-model="ApplyLeave.leaveType" name="leaveType" ng-required="true" md-no-float md-no-asterisk>
								<md-option value="{{lt.leaveTypeID}}" ng-repeat="lt in EmployeeIndividualController.LeaveTypes">{{lt.leaveType}}</md-option>
							</md-select>
							<div ng-if="ApplyForLeaveForm.leaveType.$error.required && ApplyForLeaveForm.leaveType.$touched" class="errorMsg">Leave Type is required.

							</div>
						</md-input-container>
					</div>
					<div flex style="margin-top:25px;">
						<label>Reason for leave<span style="color:red">*</span></label>
						<md-input-container class="md-block">
							<textarea required ng-model="ApplyLeave.reasonForLeave" name="reasonForLeave" md-maxlength="150" rows="5" md-select-on-focus></textarea>
							<div ng-if="ApplyForLeaveForm.reasonForLeave.$touched && ApplyForLeaveForm.reasonForLeave.$error.required" class="errorMsg">
								Reason For Leave is required.
							</div>

						</md-input-container>
					</div>
				</div>
		</md-dialog-content>
	</md-dialog>
        <md-card-actions layout="row" layout-align="end center" style="background: white">
					<md-button type="submit" class="md-raised" type="submit" ng-click="EmployeeIndividualController.ApplyLeave($event,ApplyForLeaveForm,ApplyLeave)">Apply</md-button>
        </md-card-actions>



</script>
<script type="text/ng-template" id="ApplyForWorkFromHome.html">

	<md-dialog style="background-color:#e6eaed;height: auto; width: 60%;">
			<md-toolbar style="background:white;color:black;padding: 0; padding: 0" flex layout="column" layout-padding>
				<div  class="layout-row layout-align-space-between-center" style="padding-bottom:0px">
					<div class="layout-row layout-align-start-center" style="padding-left:16px;">Apply Work from Home for {{EmployeeIndividualController.SelectedEmployeeInfo.empName}} ({{EmployeeIndividualController.SelectedEmployeeInfo.empID}})</div>
					<div>
					 <md-button class="md-icon-button" ng-click="closeView()">
					  <md-tooltip>Close</md-tooltip>
					  <img ng-src="Assets\close.png" /> </md-button>
				    </div>
				</div>
			</md-toolbar>
		<md-dialog-content>

			<form name="WorkFromHomeForm">
				<div layout-padding style="background: white;">
					<div layout="column" class="email_recipients">
						<label>Recipients:</label>
						<div flex style="margin-bottom: 40px; margin-top: 10px;">
							<div class="chip" ng-repeat="array in EmployeeDefaultRec | filter:{name:'!'}">{{array.employeeName}}</div>
							<div class="chip" ng-repeat="name in EmployeeIndividualController.SelectedEmails | filter:{name:'!'}">{{name.employeeName}}
								<span class="hover">
									<img class="closeItem" ng-src="Assets\close.png" ng-click="remove($index)" />
									<md-tooltip>remove</md-tooltip>
								</span>
							</div>
						</div>
						<md-autocomplete md-selected-item="EmployeeIndividualController.selectedItem" md-search-text="EmployeeIndividualController.searchText"
						    md-items="item in EmployeeIndividualController.querySearch(EmployeeIndividualController.searchText)" md-item-text="item.name" md-selected-item-change="EmployeeIndividualController.selectedItemChange(EmployeeIndividualController.selectedItem)"
						    placeholder="Add recipients">
							<span md-highlight-text="searchText">{{item.employeeName}}</span>
						</md-autocomplete>
					</div>

					<div layout-gt-xs="row">
						<div layout="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel">

									<div>From<span style="color:red">*</span></div>
									<div layout="column">
										<div> 
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="WorkFromHome.leaveStartDate" ng-change="WorkFromHome.leaveToDayHalf = false" aria-label="From Date" md-placeholder="From Date" 
												    ng-model-options="{ timezone: 'utc' }" name="leaveStartDate" required md-open-on-focus md-hide-icons="calendar"
												    md-min-date="EmployeeIndividualController.minDate" md-max-date="(WorkFromHome.leaveEndDate)? WorkFromHome.leaveEndDate : EmployeeIndividualController.maxDate" required>
												</md-datepicker>
											</md-input-container>
										</div>
										<span ng-show="WorkFromHomeForm.leaveStartDate.$touched && WorkFromHomeForm.leaveStartDate.$error.required" class="errorMsg">From Date is Required.</span>


									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="WorkFromHome.leaveFromDayHalf" aria-label="From Half day">
											Half day </md-checkbox>
									</div>
								</div>
								<div style="background: #ddd; margin-top: 2px" ng-if="WorkFromHome.leaveFromDayHalf">

									<md-radio-group ng-required="WorkFromHome.leaveFromDayHalf" name="fromID" ng-model="WorkFromHome.sessionOfStartDate" layout-padding
									    layout="row" layout-align="start center">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="WorkFromHomeForm.fromID.$error">
										<div ng-message="required" style="color:red;">First / Second half is required.</div>
									</div>
								</div>
							</div>
						</div>
						<div layout="row" flex="10"></div>
						<div layout="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel">


									<div>To<span style="color:red">*</span></div>
									<div layout="column">
										<div>
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="WorkFromHome.leaveEndDate" aria-label="End Date" md-placeholder="To Date" ng-change="WorkFromHome.leaveToDayHalf = false"
												   md-min-date="(WorkFromHome.leaveStartDate) ? WorkFromHome.leaveStartDate : EmployeeIndividualController.minDate" ng-model-options="{ timezone: 'utc' }"
 													md-max-date="EmployeeIndividualController.maxDate"
												    name="leaveEndDate" required md-open-on-focus md-hide-icons="calendar" required></md-datepicker>

											</md-input-container>
										</div>
										<span ng-if="WorkFromHomeForm.leaveEndDate.$touched && WorkFromHomeForm.leaveEndDate.$error.required" class="errorMsg">To Date is Required.</span>
									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div  layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="WorkFromHome.leaveToDayHalf" aria-label="TO Half day" ng-disabled="(WorkFromHome.leaveStartDate | date) == (WorkFromHome.leaveEndDate | date)">
											Half day </md-checkbox>
									</div>

								</div>
								<div style="background: #ddd; margin-top: 2px" ng-if="WorkFromHome.leaveToDayHalf">
									<md-radio-group ng-required="true" name="sessionID" ng-model="WorkFromHome.sessionOfEndDate" layout-padding layout="row"
									    layout-align="start center">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="WorkFromHomeForm.sessionID.$error">
										<div ng-message="required" style="color:red;">First / Second half is required.</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div flex style="margin-top: 25px;">
						<label>Reason for WFH<span style="color:red">*</span></label>
						<md-input-container class="md-block">
							<textarea ng-model="WorkFromHome.reasonForWorkFromHome" name="reasonForWorkFromHome" md-maxlength="150" rows="5" md-select-on-focus
							    required></textarea>
							<div ng-if=" WorkFromHomeForm.reasonForWorkFromHome.$touched && WorkFromHomeForm.reasonForWorkFromHome.$error.required" class="errorMsg">
								This field is required.
							</div>
						</md-input-container>
					</div>

				</div>



				<md-input-container class="layout-row layout-align-end-center">
					<md-button class="md-raised md-accent" style="margin-bottom: 40px;" ng-click="EmployeeIndividualController.ApplyWorkFromHome($event,WorkFromHomeForm,WorkFromHome)">Apply</md-button>
				</md-input-container>

			</form>
		</md-dialog-content>
	</md-dialog>


</script>
<script type="text/ng-template" id="ApplyForCompOff.html">

	<md-dialog style="background-color:#e6eaed;height: auto; width: 60%;">
			<md-toolbar style="background:white;color:black;padding: 0; padding: 0" flex layout="column" layout-padding>
				<div  class="layout-row layout-align-space-between-center" style="padding-bottom:0px">
					<div class="layout-row layout-align-start-center" style="padding-left:16px;">Request Comp-Off Credit for {{EmployeeIndividualController.SelectedEmployeeInfo.empName}} ({{EmployeeIndividualController.SelectedEmployeeInfo.empID}})</div>
					<div>
					 <md-button class="md-icon-button" ng-click="closeView()">
					  <md-tooltip>Close</md-tooltip>
					  <img ng-src="Assets\close.png" /> </md-button>
				    </div>
				</div>
			</md-toolbar>
		<md-dialog-content>

			<form name="CompOffForm">
				<div layout-padding style="background: white;">
					<div layout="column" class="email_recipients">
						<label>Recipients:</label>
						<div flex style="margin-bottom: 40px; margin-top: 10px;">
							<div class="chip" ng-repeat="array in EmployeeDefaultRec | filter:{name:'!'}">{{array.employeeName}}</div>
							<div class="chip" ng-repeat="name in EmployeeIndividualController.SelectedEmails | filter:{name:'!'}">{{name.employeeName}}
								<span class="hover">
									<img class="closeItem" ng-src="Assets\close.png" ng-click="remove($index)" />
									<md-tooltip>remove</md-tooltip>
								</span>
							</div>
						</div>
						<md-autocomplete md-selected-item="EmployeeIndividualController.selectedItem" md-search-text="EmployeeIndividualController.searchText"
						    md-items="item in EmployeeIndividualController.querySearch(EmployeeIndividualController.searchText)" md-item-text="item.name" md-selected-item-change="EmployeeIndividualController.selectedItemChange(EmployeeIndividualController.selectedItem)"
						    placeholder="Add recipients">
							<span md-highlight-text="searchText">{{item.employeeName}}</span>
						</md-autocomplete>
					</div>

					<div layout-gt-xs="row">
						<div layout="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel" style="height: 52px !important;max-height: 52px !important;">

									<div>From<span style="color:red">*</span></div>
									<div layout="column"> 
										<div>
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="CompOff.CompOffStartDate" aria-label="From Date" md-placeholder="From Date" ng-change="CompOff.leaveToDayHalf = false"
												    ng-model-options="{ timezone: 'utc' }" name="CompOffStartDate" required md-open-on-focus md-hide-icons="calendar"
												    md-max-date="EmployeeIndividualController.compOffMaxDate" md-min-date="EmployeeIndividualController.compOffMinDate" required></md-datepicker>
											</md-input-container>
										</div>
										<span ng-if=" (CompOffForm.CompOffStartDate.$touched || EmployeeIndividualController.onSubmit) && CompOffForm.CompOffStartDate.$error.required"
										    class="errorMsg">From Date is Required.</span>
									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="CompOff.CompOffFromDayHalf" aria-label="From Half day">
											Half day </md-checkbox>
									</div>
								</div>
								<div style="background: #ddd; margin-top: 2px" ng-if="CompOff.CompOffFromDayHalf">

									<md-radio-group ng-required="CompOff.CompOffFromDayHalf" name="fromID" ng-model="CompOff.sessionOfStartDate" layout-padding
									    layout="row" layout-align="start center">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="CompOffForm.fromID.$error">
										<div ng-message="required" style="color:red;">First / Second half is required.</div>
									</div>

								</div>
							</div>
						</div>
						<div layout="row" flex="10"></div>
						<div layout="row" flex-gt-xs="45">
							<div layout="column" flex>
								<div layout="row" flex layout-align="space-between center" layout-padding class="greenLabel" style="height: 52px !important;max-height: 52px !important;">


									<div>To<span style="color:red">*</span></div>
									<div layout="column">
										<div>
											<md-input-container>
												<md-datepicker onkeydown="return false" ng-model="CompOff.CompOffEndDate" aria-label="End Date" ng-change="CompOff.leaveToDayHalf = false" md-placeholder="To Date"
												    md-max-date="EmployeeIndividualController.compOffMaxDate" ng-model-options="{ timezone: 'utc' }"  
													md-min-date="(CompOff.CompOffStartDate) ? CompOff.CompOffStartDate : EmployeeIndividualController.compOffMinDate" 
												    name="CompOffEndDate" required md-open-on-focus md-hide-icons="calendar" required></md-datepicker>
											</md-input-container>
										</div>
										<span ng-show="CompOffForm.CompOffEndDate.$touched && CompOffForm.CompOffEndDate.$error.required" class="errorMsg">To Date is Required.</span>
									</div>
								</div>
								<div style="background: #ddd" layout="row" class="layout-align-start-center">
									<div layout="row" class="layout-padding layout-align-start-center">
										<md-checkbox ng-model="CompOff.CompOffToDayHalf" aria-label="TO Half day" ng-disabled="(CompOff.CompOffStartDate | date) == (CompOff.CompOffEndDate | date)">
											Half day </md-checkbox>
									</div>

								</div>
								<div style="background: #ddd; margin-top: 2px" ng-if="CompOff.CompOffToDayHalf">
									<md-radio-group ng-required="true" name="sessionID" ng-model="CompOff.sessionOfEndDate" layout-padding layout="row" layout-align="start center">
										<md-radio-button value="{{st.sessionID}}" ng-repeat="st in EmployeeIndividualController.SessionType">{{st.sessionType}}</md-radio-button>
									</md-radio-group>
									<div ng-messages="CompOffForm.sessionID.$error">
										<div ng-message="required" style="color:red;">First / Second half is required.</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div flex style="margin-top: 25px;">
						<label>Reason for requesting Comp-Off Credit<span style="color:red">*</span></label>
						<md-input-container class="md-block">
							<textarea ng-model="CompOff.compOffReason" name="compOffReason" md-maxlength="150" rows="5" md-select-on-focus required></textarea>
							<div ng-if="CompOffForm.compOffReason.$touched && CompOffForm.compOffReason.$error.required" class="errorMsg">
								This field is required.
							</div>
						</md-input-container>
					</div>

				</div>

			</form>
    <md-card-actions layout="row" layout-align="end center" style="background: white">
	 <md-button class="md-raised" style="background-color:#95af28; color:white; margin-bottom: 40px;" ng-click="EmployeeIndividualController.ApplyCompOff($event,CompOffForm,CompOff)">Apply</md-button>
    </md-card-actions>
		</md-dialog-content>
	</md-dialog>
</script>
<style>
.populatenounpaidleaves {
		color: #383085;
		text-decoration: underline;
		cursor: pointer;
	}
	.md-button.md-default-theme:not([disabled]):hover,
	.md-button:not([disabled]):hover {
		background-color: #95AF28;
	}
	
md-input-container.md-default-theme .md-input::-moz-placeholder, md-input-container .md-input::-moz-placeholder {
	color: black;
}
.md-datepicker-input-container{
	border: 2px solid #ddd !important;
	border-radius: 10px !important;
}

.errorMsg {
		color:  #E26161;
		font-size: 11px;
		font-family: segoe ui;
	}
	/* md-input-container .md-input {
		 box-shadow: inset 4px 4px 2px 0px #ddd;
		 height: 28px !important;
		 padding-left: 10px;
	} */
	.md-datepicker-triangle-button.md-button.md-icon-button {
	padding-left: 15px !important; 
	height: 0px !important;
    width: 5px !important;
   /*  padding-bottom:3px !important; */
   /*   background-image: url(../Assets/calendar.png); */
    background-repeat: no-repeat;
    background-position: 5px;
}

.vl {
		border-left: 1px solid black;
		min-height: 50px;
		opacity :0.1;
	}
	
	.disabled:hover {
	cursor : not-allowed;
	}
.flex-container{
		display: flex;
		flex-wrap:wrap;
	}
	.flex-container > div {
  			width: 350px;
  			margin: 10px;
  			margin-left:0px;
  			}
  	.meritlytics-font-bold{
  		font-weight: bold;
  		font-size: 14px;
  	}		
</style>