<div layout="column" flex layout-padding>
	
	<div layout="column" flex >
		<div layout="column" flex  >
			 	<div layout-padding class="merilytics-content-title">Leave Policy Settings</div>
  			 	
			<md-card style="box-shadow: none">
			<md-card-content style="text-align: left; padding: 0">
  			 		<div ng-repeat="lt in  SettingsController.LeaveTypes" style="display: inline-block; vertical-align: top;">
  			 			<div class="floating-box ">
  			 			<form name="LeaveTypeForm" layout-padding>
  			 				<div layout="row" style="background:#3d3A4C;color: white;border-top-left-radius: 10px;border-top-right-radius: 10px;"  layout-align="space-between center">
	  			 				<div>{{lt.leaveType}}</div>
	  			 				<div>
	  			 					<div class="merilytics-cursor" ng-click="SettingsController.SaveLeaveTypes(LeaveType)"
	  			 													ng-show="!LeaveTypeForm['totalLeavesAllowed_'+$index].$invalid && LeaveType.status=='lt'  && !isLTError">
	  			 							<img alt="" ng-if="SettingsController.selected == $index" style="height: 20px" ng-src="Assets/save-icon-white.svg">
	  			 							<md-tooltip md-direction="top">Save</md-tooltip>
	  			 					</div>
	  			 					<div class="merilytics-cursor" ng-click="SettingsController.SaveLeaveTypes(LeaveType1)"
	  			 													ng-show="!isESError && LeaveType1.status=='es'">
	  			 							<img alt="" ng-if="SettingsController.selected == $index" style="height: 20px" ng-src="Assets/save-icon-white.svg">
	  			 							<md-tooltip md-direction="top">Save</md-tooltip>
	  			 					</div>
	  			 					<md-icon class="material-icons merilytics-cursor" style="height: 20px; color: white; font-size: 20px" ng-if="SettingsController.selected != $index" 
	  			 																ng-click="SettingsController.LeaveTypeEdit($index,lt)">
	  			 																<md-tooltip md-direction="top">Edit</md-tooltip>create</md-icon>
	  			 				</div>
  			 				</div>
  			 				<div class="flex" layout="column" style="background:#ECECEC;min-height: 90px;max-height: 90px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
	  			 				<div layout="row" flex layout-align="space-between center" ng-show="{{lt.status=='lt'}}">
	  			 					<div>Total</div>
	  			 					<div>
	  			 						<span ng-if="SettingsController.selected != $index">{{lt.totalLeavesAllowed}}</span>
	  			 						<md-table-container flex>
	  			 							<input class="merilytics-leave-type-input" aria-label="Total" ng-if="SettingsController.selected == $index" numbers-only
	  			 																	  type="text" ng-model="LeaveType.totalLeavesAllowed"  
	  			 																	  name="totalLeavesAllowed_{{$index}}" required ng-change="SettingsController.LT_OnChange(LeaveType)" >
	  			 						</md-table-container>
	  			 					</div>
	  			 				</div>
	  			 				<div layout="row" flex layout-align="space-between center" ng-show="{{lt.status == 'lt'}}">
	  			 					<div>Max <span ng-if ="lt.leaveTypeID =='3' ">(Working days)</span></div>
	  			 					<div>
	  			 						<span ng-if="SettingsController.selected != $index" >{{lt.maxLeavesAllowedAtOnce}}</span>
	  			 						<md-table-container>
	  			 							<input class="merilytics-leave-type-input" aria-label="Max" ng-if="SettingsController.selected == $index" ng-change="SettingsController.LT_OnChange(LeaveType)"   
	  			 																		type="text" numbers-only  ng-max="LeaveType.totalLeavesAllowed" numbers-only  
	  			 																		ng-model="LeaveType.maxLeavesAllowedAtOnce"  required name="maxLeavesAllowedAtOnce_{{$index}}" >
	  			 						</md-table-container>
	  			 					</div>
	  			 				</div>
	  			 				<div layout="row" flex flex layout-align="center center" ng-show="{{lt.status == 'es'}}" >
	  			 					<div >
	  			 						<span ng-if="SettingsController.selected != $index">{{lt.totalLeavesAllowed}}</span>
	  			 						<input class="merilytics-leave-type-input"  ng-if="SettingsController.selected == $index" numbers-only  ng-change="SettingsController.LT_OnChange(LeaveType1)" 
	  			 									type="text" ng-model="LeaveType1.totalLeavesAllowed"  name="totalLeavesAllowed" required > Months
	  			 					</div> 
	  			 				</div>
	  			 				<div layout="column" layout-align="end end" style="font-size: 10px;font-weight: bold;">
	  			 					<span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && (LeaveTypeForm['totalLeavesAllowed_'+$index].$error.parse)" >Total is required</span>
	  			 					<span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && (LeaveTypeForm['maxLeavesAllowedAtOnce_'+$index].$error.parse)" >Max is required</span>
	  			 					<span style="color: rgb(221,44,0)" ng-if=" lt.status == 'es' && (LeaveTypeForm['totalLeavesAllowed'].$error.parse)" >{{LeaveType1.leaveType}} is required.</span>
	  			 					<span style="color: rgb(221,44,0)" ng-if="(SettingsController.selected == $index) && lt.status == 'lt'  && isLTError" >Max should be less than or equal to Total</span>
	  			 					<span style="color: rgb(221,44,0)" ng-if="(SettingsController.selected == $index) && lt.status == 'es'  && isESError" >{{LeaveType1.leaveType}} should be less than or equal to 12</span>
	  			 					<!-- <span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && (LeaveTypeForm['totalLeavesAllowed_'+$index].$error.parse)" >Total is required</span> -->
	  			 					<!-- <span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && (LeaveTypeForm['totalLeavesAllowed_'+$index].$error.number)" >Total Should be Numeric</span> -->
	  			 				 	
	  			 				 	<!-- <span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && (LeaveTypeForm['maxLeavesAllowedAtOnce_'+$index].$error.parse)" >Max Should be Numeric</span> -->
	  			 				    <!-- <span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && LeaveTypeForm['maxLeavesAllowedAtOnce_' + $index].$error.parse" >Max should be numeric & less than or equal to Total</span> -->
	  			 				    <!-- <span style="color: rgb(221,44,0)" ng-show="(SettingsController.selected == $index) && lt.status == 'lt'  && LeaveTypeForm['maxLeavesAllowedAtOnce_' + $index].$error.number" >Max Should be Numeric</span> -->
	  			 				    
	  			 				    <!-- <span style="color: rgb(221,44,0)" ng-if=" lt.status == 'es' && (LeaveTypeForm['totalLeavesAllowed'].$error.parse)" >{{LeaveType1.leaveType}} Should be Numeric</span> -->
	  			 				    <!-- <span style="color: rgb(221,44,0)" ng-if="lt.status == 'es' && (LeaveTypeForm['totalLeavesAllowed'].$error.parse)" >{{LeaveType1.leaveType}} Should be numeric & less than or equal to 12.</span> -->
	  			 				    <!-- <span style="color: rgb(221,44,0)" ng-if="lt.status == 'es' && (LeaveTypeForm['totalLeavesAllowed'].$error.number)" >{{LeaveType1.leaveType}} Should be Numeric.</span> -->
	  			 				  <!--   <span>{{LeaveTypeForm['maxLeavesAllowedAtOnce_'+$index].$error}}</span> -->
	  			 				    <!-- <span>{{LeaveTypeForm['totalLeavesAllowed'].$error}}</span> -->
	  			 				</div>
	  			 				
	  			 				<!-- <div layout="row" flex layout-align="space-between center" >
	  			 					<div layout="row"  layout-align="end center" flex>
	  			 						<div class="meritus-btn layout-row layout-align-center-center" ng-if="SettingsController.selected == $index" style="margin-top: 8px;margin-right: 8px;width: 49px;border-radius: 7px;" ng-click="SettingsController.SaveLeaveTypes(lt)">Save</div></div>
	  			 				</div> -->
	  			 				</div>
	  			 				</form>
	  			 			</div>
  			 			</div>
  			 		</md-card-content>
  			 		</md-card>
  			 	</div>
  			 <div layout-padding>
  			 	<div class="merilytics-content-title holidays-list" style="padding-left : 0px">Holidays</div>
  			 	<div style="padding: 0px">
  			 	<form name="HolidayForm">
  			 	<!-- {{HolidayForm}} -->
  			 		<md-table-container >
  			 			<table md-table>
  			 				<thead md-head>
  			 					<tr md-row>
  			 						<th md-column>S.NO.</th>
  			 						<th md-column>Holiday Name</th>
  			 						<th md-column>Holiday Type</th>
  			 						<th md-column>Holiday Date</th>
  			 						<th md-column>Day of the Week</th>
  			 						<th md-column>Actions</th>
  			 					</tr>
  			 				</thead>
  			 			
  			 				<tbody md-body>
  			 					<tr md-row ng-repeat="hl in SettingsController.holiday_list" >
  			 						<td md-cell ng-style=" hl.holidayType=='National' ? {'border-left':'6px solid #FC655c'} : {'border-left':'6px solid #289AAF'} ">{{$index+1}}</td>
  			 						<td md-cell>
	  			 						<span ng-show="SettingsController.CurrentTableselected != $index" >{{hl.holidayName}}</span> 
	  			 						<md-input-container ng-show="SettingsController.CurrentTableselected == $index " >
	  			 								<input type="text" ng-model="ExistingHoliday.holidayName" aria-label="holidayName_{{$index}}" name="holidayName_{{$index}}" required>
	  			 								<div ng-messages="HolidayForm['holidayName_' + $index].$error"  >
	  			 									<div ng-message="required">Holiday Name required.</div>
	  			 								</div>
	  			 						</md-input-container>
	  			 					</td>
  			 						<td md-cell>
  			 							<span ng-show="SettingsController.CurrentTableselected != $index">{{hl.holidayType}}</span>
  			 							<md-input-container ng-show="SettingsController.CurrentTableselected == $index " >
  			 								<!-- <input type="text" ng-model="ExistingHoliday.holidayType"  aria-label="holidayType_{{$index}}" name="holidayType_{{$index}}" required> -->
  			 								<md-select ng-model="ExistingHoliday.holidayTypeID" aria-label="Holiday Type" name="holidayTypeID_{{$index}}" aria-label="holidayType_{{$index}}" ng-disabled="SettingsController.CurrentTableselected != $index"  required>
  			 									<md-option value="{{ht.holidayTypeID}}" ng-repeat="ht in SettingsController.holidayTypes">{{ht.holidayType}}</md-option>
  			 								</md-select>
  			 								<div ng-messages="HolidayForm['holidayTypeID_' + $index].$error">
  			 									<div ng-message="required">Holiday type required.</div>
  			 								</div>
  			 							</md-input-container>	
  			 							
  			 						</td>
  			 						<td md-cell>
  			 							<span ng-show="SettingsController.CurrentTableselected != $index">{{hl.holidayDate | date:'MMM dd, yyyy' }}</span>
  			 							<md-input-container ng-show="SettingsController.CurrentTableselected == $index ">
  			 								<md-datepicker ng-model="ExistingHoliday.holidayDate" name="holidayDate_{{$index}}" md-min-date="minDate" aria-label="holidayDate_{{$index}}" required md-open-on-focus md-hide-icons="all" ng-change="SettingsController.DateChange(ExistingHoliday)"></md-datepicker>
  			 								<div ng-messages="HolidayForm['holidayDate_' + $index].$error">
  			 									<div ng-message="required">Holiday Date required.</div>
  			 								</div>
  			 							</md-input-container>
  			 						</td>
  			 						<td md-cell>
  			 							<span ng-show="SettingsController.CurrentTableselected != $index">{{hl.dayOfTheWeek}}</span>
  			 							
  			 							<md-input-container ng-show="SettingsController.CurrentTableselected == $index ">
  			 								<input type="text" ng-model="ExistingHoliday.dayOfTheWeek" name="dayOfTheWeek" ng-disabled="true" aria-label="dayOfTheWeek" required>
  			 								<div ng-messages="HolidayForm.dayOfTheWeek.$error">
  			 									<div ng-message="required">It's required.</div>
  			 								</div>
  			 							</md-input-container>
  			 						</td>
  			 						<td md-cell>
  			 							<div layout="row">
  			 								<i class="material-icons merilytics-cursor" ng-click="SettingsController.SaveorUpdateHolidays(ExistingHoliday,HolidayForm,$event)" 
  			 																			ng-show="SettingsController.CurrentTableselected == $index "><md-tooltip md-direction="top">Save</md-tooltip>save</i>
  			 								<i class="material-icons merilytics-cursor" ng-click="SettingsController.HolidayListEdit($index,hl)" 
  			 																			ng-show="SettingsController.CurrentTableselected != $index; " ><md-tooltip md-direction="top">Edit</md-tooltip>create</i>
  			 								<i class="material-icons merilytics-cursor" ng-click="SettingsController.DeleteHolidays(hl)"><md-tooltip md-direction="top">Delete</md-tooltip>remove_circle</i>
  			 							</div>
  			 						</td>
  			 					</tr>
  			 				</tbody>
  			 				
  			 				<tbody>
  			 				<tr md-row>
  			 						
  			 						<td md-cell>(New)</td>
  			 						<input type="text" ng-model="Holiday.holidayId"  name="holidayId" ng-show="false">
  			 						<td md-cell >
  			 							<md-input-container md-no-float>
  			 								<input type="text" style="height: 35px !important;" ng-model="Holiday.holidayName" aria-label="Holiday Name"  md-no-asterisk  placeholder='Holiday name'  name="holidayName" ng-change="Holiday.holidayId=''" required>
  			 								<div ng-messages="HolidayForm.holidayName.$error">
  			 									<div ng-message="required">Holiday Name required.</div>
  			 								</div>
  			 							</md-input-container>
  			 						</td>
  			 						<td md-cell>
  			 							<md-input-container md-no-float>
  			 								<md-select ng-model="Holiday.holidayTypeID" style="box-shadow: unset;" aria-label="holiday Type" name="holidayTypeID"  required  md-no-asterisk  placeholder='Holiday Type'>
  			 									<md-option value="{{ht.holidayTypeID}}" ng-repeat="ht in SettingsController.holidayTypes">{{ht.holidayType}}</md-option>
  			 								</md-select>
  			 								<div ng-messages="HolidayForm.holidayTypeID.$error">
  			 									<div ng-message="required">Holiday Type required.</div>
  			 								</div>
  			 							</md-input-container>
  			 							</td>
  			 						<td md-cell>
  			 							<md-input-container md-no-float> 
  			 								<md-datepicker id="customDatePickerHeight" ng-model="Holiday.holidayDate" aria-label="Holiday Date" 
  			 																			  ng-model-options="{ timezone: 'utc' }" name="holidayDate" required md-open-on-focus 
  			 																			  md-hide-icons="all"  md-no-asterisk  md-placeholder='Holiday Date' 
  			 																			  ng-change="SettingsController.DateChange(Holiday)">
  			 								</md-datepicker>
  			 								<div ng-messages="HolidayForm.holidayDate.$error">
  			 									<div ng-message="required">Holiday Date required.</div>
  			 								</div>
  			 							</md-input-container>
  			 						</td>
  			 						<td md-cell>
  			 							{{Holiday.dayOfTheWeek}}
  			 							<!-- <md-input-container>
  			 								<input type="text" ng-model="Holiday.dayOfTheWeek" name="dayOfTheWeek"  ng-disabled="true" required>
  			 								<div ng-messages="HolidayForm.holidayName.$error">
  			 									<div ng-message="required">It's required.</div>
  			 								</div>
  			 							</md-input-container> -->
  			 						</td>
  			 						<td md-cell>
  			 								<i class="material-icons merilytics-cursor"  ng-click="SettingsController.SaveorUpdateHolidays(Holiday,HolidayForm,$event)"  style="color:#95AF28" ><md-tooltip md-direction="top">Save</md-tooltip>add_circle</i>
  			 						</td>
  			 					</tr>
  			 				</tbody>
  			 			</table>
  			 		</md-table-container>
  			 	</form>
  			 	</div>
  			 </div>
  			 
		</div>
		
	</div>
<style>
table.md-table{
border-spacing:0px 3px;
border-collapse:unset !important;;
}
table.md-table td.md-cell{
border-top: unset;
border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
md-input-container .md-input{
height: 30px;
}
.customDatePickerHeight > div > input {
   height: 35px !important;
}
</style>

