<md-dialog style= "height: auto; width: 50%">

			<md-dialog-content>
				<md-toolbar style="background:white;color:black" class="layout-row layout-align-space-between-center layout-padding">
					<div class="layout-row layout-align-start-center" ng-show=" EmployeeHomeController.RejectData.leaveType == 'WFH'"> Please provide reason(s) for WFH rejection.<span style="color:red">*</span></div>
					<div class="layout-row layout-align-start-center" ng-show=" EmployeeHomeController.RejectData.leaveType == 'compOff'">Please provide reason(s) for Comp-Off rejection.<span style="color:red">*</span></div>
					<div class="layout-row layout-align-start-center" ng-show=" EmployeeHomeController.RejectData.leaveType != 'WFH' &&  EmployeeHomeController.RejectData.leaveType != 'compOff'">Please provide reason(s) for Leave conversion.<span style="color:red">*</span></div>
					<div>
						<md-button class="md-icon-button" ng-click="closeView()"> <md-tooltip>Close</md-tooltip> <img ng-src="Assets\close.png"/> </md-button>
					</div>
				</md-toolbar>	
				<div layout-align="space-between center" layout-padding  style="background:white;color:black">
				<form name ="RejectionForm">
					<div class="layout-column">
							<md-radio-group ng-model="data.group1">
							      <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
							      <md-radio-button value="Banana"> Banana </md-radio-button>
							      <md-radio-button value="Mango">Mango</md-radio-button>
						    </md-radio-group>
					</div>
					<md-input-container class= "md-block" md-no-float>
          				<textarea placeholder="Please provide detailed explanation else it will be rejected" required ng-model="reject.reasonForRejectionORRevoke" name="rejectionReason" style="text-shadow: 1px 1px rgb(216, 216, 216); padding: 10px 16px; margin-bottom: 20px; height: 200px !important" md-select-on-focus></textarea>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && EmployeeHomeController.RejectData.leaveType == 'WFH'" class= "errorMsg">
							Reason(s) for WFH rejection is required.									
						</div>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && EmployeeHomeController.RejectData.leaveType == 'compOff'" class= "errorMsg">
							Reason(s) for Comp-Off rejection is required.									
						</div>
						<div ng-if="RejectionForm.rejectionReason.$touched && RejectionForm.rejectionReason.$error.required && EmployeeHomeController.RejectData.leaveType != 'WFH' && EmployeeHomeController.RejectData.leaveType != 'compOff'" class= "errorMsg">
							Reason(s) for Leave Conversion is required.									
						</div>
        			</md-input-container> 
					<md-input-container class="layout-row layout-align-end-center">
						<md-button  class="md-raised" ng-click="EmployeeHomeController.UnPaidToPaidCon($event,RejectionForm,reject)">Submit</md-button>
					</md-input-container>
				</form>
				</div>
			</md-dialog-content>

</md-dialog>